<% title "Editing question" %>

<h1><%= yield(:title) %></h1>

<%= render :partial => 'form', :locals => {:url => gc_question_path(@question), :method => 'patch'} %>

<br/>

<h2>Preview</h2>

<%= render partial: 'question_response' %>

<br/>

<%= link_to "New question", new_gc_question_path,
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "Back", gc_questions_path,
                  class: primary_button_class,
                  role: "button" %>
