<% title "Editing Incident report" %>

<h1><%= yield(:title) %></h1>

<%= render partial: "form", locals: { 
                              url: admin_incident_report_path(@incident_report), 
                              method: :patch } %>

<br/>

<%= link_to "Back", admin_incident_reports_path,
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "Details", admin_incident_report_path(@incident_report),
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "Destroy", admin_incident_report_path(@incident_report),
                  method: :delete,
                  data: { confirm: "Are you sure?" },
                  class: danger_button_class,
                  role: "button" %>
