<% title "Listing incident reports" %>

<h1><%= yield(:title) %></h1>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th>Section</th>
      <th>Name</th>
    </tr>
  </thead>

	<%= render @incident_reports %>
</table>

<%= link_to "New evaluation", new_admin_incident_report_path,
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "Download", admin_incident_reports_path(format: :csv),
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "PDF", admin_incident_reports_path(format: :pdf),
                  class: primary_button_class,
                  role: "button" %>
