<% title "Sport Coordinator Home" %>

<h1><%= yield(:title) %></h1>

<p>Welcome to the Sport Coordinator dashboard<p>

<% if @settings.syg_is_happening %>
    <p>Please use this to submit results for Round Robin draws (except Four Square, e-Sports and 9 Square in teh Air)<p>

    <p>For all other sports, please email a clear photo of the results to sygresults@gmail.com - please especially ensure that the winner and place holder(s) are clearly marked.<p>

    <br />
    <br />

    <h2>Quick Links</h2>

    <%= link_to "Sport Results", sc_sections_path,
            class: primary_button_class,
            role: "button" %>
    <%= link_to "Incident Reports", @settings.incident_link,
            class: primary_button_class,
            role: "button" unless @settings.incident_link.nil? %>
    <%= link_to "Sports Evaluations", new_sc_sports_evaluation_path,
            class: primary_button_class,
            role: "button" %>
    <br/>
    <br/>
    <%= link_to "Good Sports", new_good_sports_sc_awards_path,
            class: primary_button_class,
            role: "button" %>
    <%= link_to "Spirit Awards", new_spirit_sc_awards_url,
            class: primary_button_class,
            role: "button" %>
    <%= link_to "Volunteer Awards", new_volunteer_sc_awards_path,
            class: primary_button_class,
            role: "button" %>
<% else %>
    <p>Check back here during the event for options to submit results, sports evaluations, awards ane more.<p>

<% end %>