<%= simple_form_for(@participant, url: url, html: { method: method }) do |f| %> 
	<%= f.error_notification %>

	<%= f.input :lock_version, as: :hidden %>

	<% if can_display_onsite_flag %>
		<h2>Camping</h2>

		<%= f.input :camping_preferences, hint: "for example, if you want to be put in a tent with a particular friend, mention that here" %>

		<br/>
	<% end %>

	<h2>Sport Notes</h2>

	<%= f.input :sport_notes, hint: "let us know if you want to be put in teams with a particular friend, or if there is anything else we should know about you and sports" %>

	<br/>

	<%= f.button :submit %>
<% end %>	
