<%= simple_form_for(@participant, url: url, html: { method: method }) do |f| %> 
	<%= f.error_notification %>

	<%= f.input :lock_version, as: :hidden %>
	<%= f.input :first_name %>
	<%= f.input :surname %>

	<% unless @group.group_fee_categories.empty? %>
		<%= f.input :group_fee_category_id, as: :select, label: "Fee category", collection: @participant.fee_categories, label_method: :description, include_blank: false %>
	<% end %>

	<br/>

	<% if registrations_open %>
		<%= f.input :coming %>
		<% if @group.mysyg_setting.allow_offsite %>
			<%= f.input :onsite, label: "Staying onsite at Lardner Park" if can_display_onsite_flag %>
		<% end %>
		<%= f.input :spectator %>
		<% if @participant.voucher %>
			<div><label class="string">Voucher</label> <span class="badge bg-success"><%= @participant.voucher.name %></span>
				<%= link_to "X", delete_voucher_mysyg_participant_path(group: @group.mysyg_setting.mysyg_name, id: @participant.id),
					method: :patch,
					data: { confirm: "Are you sure?" },
					class: danger_button_class,
					role: "button" %>
			</div>
		<% else %>
			<div><label class="string">Voucher</label> 
				<%= link_to "Add", new_voucher_mysyg_participant_path(group: @group.mysyg_setting.mysyg_name, id: @participant.id),
					method: :get,
					class: primary_button_class,
					role: "button" %>
			</div>
		<% end %>
		<br/>

		<% if @group.mysyg_setting.allow_part_time %>
			<div><label class="string">Participation  (days are only relevant if part time)</label> <span class="<%= participant_type_class(@participant) %>"><%= @participant.rego_type %></span></div>
			<%= f.input :coming_friday, label: "Friday" %>
			<%= f.input :coming_saturday, label: "Saturday" %>
			<%= f.input :coming_sunday, label: "Sunday" %>
			<%= f.input :coming_monday, label: "Monday" %>
			<br/>
		<% end %>
	<% else %>
		<table class="table table-dark table-striped">
			<tr>
				<td> 
					<strong>Coming</strong>
				</td>
				<td> 
					<%= @participant.coming ? 'Yes' : 'No' %>
				</td>
			</tr>
			<tr>
				<td> 
					<strong>Ticket type</strong>
				</td>
				<td> 
					<%= @participant.ticket_type %>
				</td>
			</tr>
			<% if can_display_onsite_flag %>
			<tr>
				<td> 
					<strong>Staying onsite at Lardner Park</strong>
				</td>
				<td> 
					<%= @participant.onsite ? 'Yes' : 'No' %>
				</td>
			</tr>
			<% end %>
			<tr>
				<td> 
					<strong>Spectator</strong>
				</td>
				<td> 
					<%= @participant.spectator ? 'Yes' : 'No' %>
				</td>
			</tr>
			<% if @participant.voucher %>
			<tr>
				<td> 
					<strong>Voucher</strong>
				</td>
				<td> 
					<span class="badge bg-success"><%= @participant.voucher.name %></span>
				</td>
			</tr>
			<% end %>
		</table>
	<% end %>

	<%= f.input :years_attended, label: "Years attended SYG", hint: "including this year" %>
	<% if @group.mysyg_setting.collect_age_by == "Age" %>
		<%= f.input :age, hint: "as at #{@settings.first_day_of_syg}" %>
	<% else %>
		<%= f.input :date_of_birth, required: true, as: :date, start_year: Date.today.year - 80, end_year: Date.today.year %>
	<% end %>
	<%= f.input :gender, as: :select, collection: Participant::SEX, include_blank: false %>
	<%= f.input :wwcc_number, label: "WWCC Number" %>

	<%= f.input :address %>
	<%= f.input :suburb %>
	<%= f.input :postcode %>
	<%= f.input :phone_number, label: "Home phone number"  %>
	<%= f.input :mobile_phone_number, hint: "enter a mobile number if you want to receive SMS updates and urgent messages from the SYG Admin team throughout the SYG weekend" %>
	<%= f.input :email, hint: "email address that your event ticket will be sent to" %>

	<br/>

	<h2>Medical</h2>

	<% if @group.mysyg_setting.medicare_option == 'Require' %>
		<%= f.input :medicare_number, required: true %>
		<%= f.input :medicare_expiry, required: true, as: :date, start_year: Date.today.year, discard_day: true, include_blank: true %>
	<% elsif @group.mysyg_setting.medicare_option == 'Show' %>
		<%= f.input :medicare_number %>
		<%= f.input :medicare_expiry, as: :date, start_year: Date.today.year, discard_day: true, include_blank: true %>
	<% end %>
	<%= f.input :medical_injuries, label: "Current or Pre-existing Injuries", hint: "Could you please confirm whether you have any pre-existing or current injuries? If so, kindly clarify if you have obtained the necessary medical clearance that authorises your participation in the SYG's program. It is imperative that you answer these questions truthfully, as any untoward incident during the SYG's event that results in a claim being made will be subject to investigation by your insurer. We are committed to ensuring the safety and well-being of all participants, and providing accurate information is crucial in upholding this commitment." %>
	<%= f.input :medical_info, label: "Medical information" %>
	<%= f.input :medications %>
	<%= f.input :allergies %>
	<%= f.input :dietary_requirements %>
	<%= f.input :emergency_contact %>
	<%= f.input :emergency_relationship, label: "Relationship to participant" %>
	<%= f.input :emergency_phone_number, label: "Emergency contact phone number" %>
	<%= f.input :emergency_email, label: "Emergency contact email" %>

	<br/>

	<%= f.button :submit %>
<% end %>	
