<% content_for(:title) { "New participant details (#{@group.short_name})" } %>

<h2 class="h2"><%= yield(:title) %></h2>

<p>A new participant has signed up for your team on the SYG Registrations website:</p>

<table>
	<tr><td>Name:</td><td><%= @participant.name %></td></tr>
	<tr><td>Phone:</td><td><%= @participant.phone_number %></td></tr>
	<tr><td>Email:</td><td><%= @participant.email %></td></tr>
	<tr><td>Postal address:</td><td><%= @participant.address %></td></tr>
	<tr><td>Suburb:</td><td><%= @participant.suburb %></td></tr>
	<tr><td>Postcode:</td><td><%= @participant.postcode %></td></tr>
    <% if @participant.name != @user.name %>
		<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
		<tr><td>Signed up by:</td><td><%= @user.name %></td></tr>
		<tr><td>Email:</td><td><%= @user.email %></td></tr>
    <% end %>
</table>

<p>Thanks,</p>

<p>SYG Registrations Web Support</p>