<% content_for(:title) { "Welcome" } %>

<h2 class="h2"><%= yield(:title) %></h2>

<p>Hi <%= @participant.first_name %></p>

<p>Thank you for registering for State Youth Games <%= APP_CONFIG[:this_year] %>! We are so excited to have you on board!</p>

<p>You have just signed up as a participant with <%= @group.short_name %> on the SYG Registrations website.</p> 

<% if @participant.status == "Requiring Approval" %>
	<p>Your Group Coordinator must now confirm your inclusion in the team. When this occurs, you will receive a further email containing your login details and instructions for setting your password. If you have heard nothing within the next couple of days, please contact your Group Coordinator.</p> 

<% else %>

	<p>Your registration is now almost complete. Please see your Group Coordinator to finalise payment and ensure you have entered in all your sporting preferences. If you have any further questions please contact your group coordinator going forward.</p>
	
	<strong>Your login details are:</strong>
	<table>
		<tr><td>Login ID:</td><td><%= @user.email %></td></tr>
		<tr><td>Name:</td><td><%= @user.name %></td></tr>
	</table>
	
	<p>Use this login ID with your password to select and update your sport and camping preferences, and to check other details about State Youth Games.</p>
	
	<p>You can log in here: <%= link_to new_user_session_url(protocol: "https", host: @settings.website_host), new_user_session_url(protocol: "https", host: @settings.website_host) %></p>
	
	<p>We hope you have a fantastic lead up to games. See you in June!</p>

<% end %>

<p>Thanks,</p>

<p>SYG Team</p>

<% unless @group.mysyg_setting.email_text.blank? %>
	<h2>A Message from your Group</h2>
	<p><%= @group.mysyg_setting.email_text %></p>
<% end %>

<p style="font-size: smaller">You have received this email because you have agreed to the terms and conditions listed during the online registration process. If you should have not received this email please contact <%= APP_CONFIG[:admin_email] %></p>
