<% title "Policy Uploads" %>

<h1><%= yield(:title) %></h1>

<p>Please use this page to upload signed copies of the following policies:</p>

<%= simple_form_for(@event_detail, url: update_policies_gc_event_detail_path(@event_detail), html: { method: :patch }) do |f| %> 
	<%= f.error_notification %>
	
	<%= f.hidden_field :id %>

	<% if @event_detail.child_safe_policy.attached? %>
		<p>Child Safe Policy:</p>
		<% if @event_detail.child_safe_policy.representable? %>
		    <%= link_to(image_tag(@event_detail.child_safe_policy.representation(resize_to_limit: [80, 100])), rails_blob_path(@event_detail.child_safe_policy, disposition: "attachment")) %>
		<% else %>
		    <%= link_to "File", rails_blob_path(@event_detail.child_safe_policy, disposition: "attachment") %>
		<% end %>
		<%= link_to "Remove file", purge_child_safe_policy_gc_event_detail_path(@event_detail),
        	          method: :patch,
					  class: danger_button_class,
            	      role: "button" %>

		<br/>
		<br/>
	<% else %>
		<%= f.input :child_safe_policy, as: :file, label: 'Child Safe Policy: ' %>

        <br/>
		<% docs_to_upload = true %>
	<% end %>
	
	<% if @event_detail.code_of_conduct.attached? %>
		<p>Code of Conduct:</p>
		<% if @event_detail.code_of_conduct.representable? %>
		    <%= link_to(image_tag(@event_detail.code_of_conduct.representation(resize_to_limit: [80, 100])), rails_blob_path(@event_detail.code_of_conduct, disposition: "attachment")) %>
		<% else %>
		    <%= link_to "File", rails_blob_path(@event_detail.code_of_conduct, disposition: "attachment") %>
		<% end %>
		<%= link_to "Remove file", purge_code_of_conduct_gc_event_detail_path(@event_detail),
        	          method: :patch,
					  class: danger_button_class,
            	      role: "button" %>

		<br/>
		<br/>
	<% else %>
		<%= f.input :code_of_conduct, as: :file, label: 'Code of Conduct: ' %>

        <br/>
		<% docs_to_upload = true %>
	<% end %>
	
	<% if @event_detail.code_of_conduct_u18.attached? %>
		<p>Code of Conduct (Under 18):</p>
		<% if @event_detail.code_of_conduct_u18.representable? %>
		    <%= link_to(image_tag(@event_detail.code_of_conduct_u18.representation(resize_to_limit: [80, 100])), rails_blob_path(@event_detail.code_of_conduct_u18, disposition: "attachment")) %>
		<% else %>
		    <%= link_to "File", rails_blob_path(@event_detail.code_of_conduct_u18, disposition: "attachment") %>
		<% end %>
		<%= link_to "Remove file", purge_code_of_conduct_u18_gc_event_detail_path(@event_detail),
        	          method: :patch,
					  class: danger_button_class,
            	      role: "button" %>

		<br/>
		<br/>
	<% else %>
		<%= f.input :code_of_conduct_u18, as: :file, label: 'Code of Conduct (Under 18): ' %>

        <br/>
		<% docs_to_upload = true %>
	<% end %>
	
	<% if @event_detail.wwcc_policy.attached? %>
		<p>WWCC Policy:</p>
		<% if @event_detail.wwcc_policy.representable? %>
		    <%= link_to(image_tag(@event_detail.wwcc_policy.representation(resize_to_limit: [80, 100])), rails_blob_path(@event_detail.wwcc_policy, disposition: "attachment")) %>
		<% else %>
		    <%= link_to "File", rails_blob_path(@event_detail.wwcc_policy, disposition: "attachment") %>
		<% end %>
		<%= link_to "Remove file", purge_wwcc_policy_gc_event_detail_path(@event_detail),
        	          method: :patch,
					  class: danger_button_class,
            	      role: "button" %>

		<br/>
		<br/>
	<% else %>
		<%= f.input :wwcc_policy, as: :file, label: 'WWCC Policy: ' %>

        <br/>
		<% docs_to_upload = true %>
	<% end %>
	
	<% if @event_detail.day_visitor_policy.attached? %>
		<p>Day Visitor Policy:</p>
		<% if @event_detail.day_visitor_policy.representable? %>
		    <%= link_to(image_tag(@event_detail.day_visitor_policy.representation(resize_to_limit: [80, 100])), rails_blob_path(@event_detail.day_visitor_policy, disposition: "attachment")) %>
		<% else %>
		    <%= link_to "File", rails_blob_path(@event_detail.day_visitor_policy, disposition: "attachment") %>
		<% end %>
		<%= link_to "Remove file", purge_day_visitor_policy_gc_event_detail_path(@event_detail),
        	          method: :patch,
					  class: danger_button_class,
            	      role: "button" %>

		<br/>
		<br/>
	<% else %>
		<%= f.input :day_visitor_policy, as: :file, label: 'Day Visitor Policy: ' %>

        <br/>
		<% docs_to_upload = true %>
	<% end %>
	
	<% if @event_detail.driving_policy.attached? %>
		<p>Driving Policy:</p>
		<% if @event_detail.driving_policy.representable? %>
		    <%= link_to(image_tag(@event_detail.driving_policy.representation(resize_to_limit: [80, 100])), rails_blob_path(@event_detail.driving_policy, disposition: "attachment")) %>
		<% else %>
		    <%= link_to "File", rails_blob_path(@event_detail.driving_policy, disposition: "attachment") %>
		<% end %>
		<%= link_to "Remove file", purge_driving_policy_gc_event_detail_path(@event_detail),
        	          method: :patch,
					  class: danger_button_class,
            	      role: "button" %>

		<br/>
		<br/>
	<% else %>
		<%= f.input :driving_policy, as: :file, label: 'Driving Policy: ' %>

        <br/>
		<% docs_to_upload = true %>
	<% end %>
		
	<% if @event_detail.drone_policy.attached? %>
		<p>Drone Use Policy:</p>
		<% if @event_detail.drone_policy.representable? %>
		    <%= link_to(image_tag(@event_detail.drone_policy.representation(resize_to_limit: [80, 100])), rails_blob_path(@event_detail.drone_policy, disposition: "attachment")) %>
		<% else %>
		    <%= link_to "File", rails_blob_path(@event_detail.drone_policy, disposition: "attachment") %>
		<% end %>
		<%= link_to "Remove file", purge_drone_policy_gc_event_detail_path(@event_detail),
        	          method: :patch,
					  class: danger_button_class,
            	      role: "button" %>

		<br/>
		<br/>
	<% else %>
		<%= f.input :drone_policy, as: :file, label: 'Drone Use Policy: ' %>

        <br/>
		<% docs_to_upload = true %>
	<% end %>

	<% if @event_detail.medicine_policy.attached? %>
		<p>Medicine Policy:</p>
		<% if @event_detail.medicine_policy.representable? %>
		    <%= link_to(image_tag(@event_detail.medicine_policy.representation(resize_to_limit: [80, 100])), rails_blob_path(@event_detail.medicine_policy, disposition: "attachment")) %>
		<% else %>
		    <%= link_to "File", rails_blob_path(@event_detail.medicine_policy, disposition: "attachment") %>
		<% end %>
		<%= link_to "Remove file", purge_medicine_policy_gc_event_detail_path(@event_detail),
        	          method: :patch,
					  class: danger_button_class,
            	      role: "button" %>

		<br/>
		<br/>
	<% else %>
		<%= f.input :medicine_policy, as: :file, label: 'Medicine Policy: ' %>

        <br/>
		<% docs_to_upload = true %>
	<% end %>
	
	<% if @event_detail.image_use_policy.attached? %>
		<p>Image Use Policy:</p>
		<% if @event_detail.image_use_policy.representable? %>
		    <%= link_to(image_tag(@event_detail.image_use_policy.representation(resize_to_limit: [80, 100])), rails_blob_path(@event_detail.image_use_policy, disposition: "attachment")) %>
		<% else %>
		    <%= link_to "File", rails_blob_path(@event_detail.image_use_policy, disposition: "attachment") %>
		<% end %>
		<%= link_to "Remove file", purge_image_use_policy_gc_event_detail_path(@event_detail),
        	          method: :patch,
					  class: danger_button_class,
            	      role: "button" %>

		<br/>
		<br/>
	<% else %>
		<%= f.input :image_use_policy, as: :file, label: 'Image Use Policy: ' %>

        <br/>
		<% docs_to_upload = true %>
	<% end %>
	
	<% if @event_detail.refund_policy.attached? %>
		<p>Refund Policy:</p>
		<% if @event_detail.refund_policy.representable? %>
		    <%= link_to(image_tag(@event_detail.refund_policy.representation(resize_to_limit: [80, 100])), rails_blob_path(@event_detail.refund_policy, disposition: "attachment")) %>
		<% else %>
		    <%= link_to "File", rails_blob_path(@event_detail.refund_policy, disposition: "attachment") %>
		<% end %>
		<%= link_to "Remove file", purge_refund_policy_gc_event_detail_path(@event_detail),
        	          method: :patch,
					  class: danger_button_class,
            	      role: "button" %>

		<br/>
		<br/>
	<% else %>
		<%= f.input :refund_policy, as: :file, label: 'Refund Policy: ' %>

        <br/>
		<% docs_to_upload = true %>
	<% end %>
	
	<% if @event_detail.shower_policy.attached? %>
		<p>Shower Policy:</p>
		<% if @event_detail.shower_policy.representable? %>
		    <%= link_to(image_tag(@event_detail.shower_policy.representation(resize_to_limit: [80, 100])), rails_blob_path(@event_detail.shower_policy, disposition: "attachment")) %>
		<% else %>
		    <%= link_to "File", rails_blob_path(@event_detail.shower_policy, disposition: "attachment") %>
		<% end %>
		<%= link_to "Remove file", purge_shower_policy_gc_event_detail_path(@event_detail),
        	          method: :patch,
					  class: danger_button_class,
            	      role: "button" %>

		<br/>
		<br/>
	<% else %>
		<%= f.input :shower_policy, as: :file, label: 'Shower Policy: ' %>

        <br/>
		<% docs_to_upload = true %>
	<% end %>
	
	<% if @event_detail.website_policy.attached? %>
		<p>Website Policy:</p>
		<% if @event_detail.website_policy.representable? %>
		    <%= link_to(image_tag(@event_detail.website_policy.representation(resize_to_limit: [80, 100])), rails_blob_path(@event_detail.website_policy, disposition: "attachment")) %>
		<% else %>
		    <%= link_to "File", rails_blob_path(@event_detail.website_policy, disposition: "attachment") %>
		<% end %>
		<%= link_to "Remove file", purge_website_policy_gc_event_detail_path(@event_detail),
        	          method: :patch,
					  class: danger_button_class,
            	      role: "button" %>

		<br/>
		<br/>
	<% else %>
		<%= f.input :website_policy, as: :file, label: 'Website Policy: ' %>

        <br/>
		<% docs_to_upload = true %>
	<% end %>

	<% if docs_to_upload %> 

		<%= f.button :submit, "Upload" %>

	<% end %>	
<% end %>