<% title "Safety Plan" %>

<h1><%= yield(:title) %></h1>

<p>Groups are recommended to provide and follow a safety plan tailored to their time at State Youth Games. This safety plan may be based on existing church or organisation safety plans, but must be adapted to the specifics of State Youth Games.</p>

<%= simple_form_for(@event_detail, url: update_covid_plan_gc_event_detail_path(@event_detail), html: { method: :patch }) do |f| %> 
	<%= f.error_notification %>
	
	<% if @event_detail.covid_plan.attached? %>
		<% if @event_detail.covid_plan.representable? %>
		    <%= link_to(image_tag(@event_detail.covid_plan.representation(resize_to_limit: [80, 100])), rails_blob_path(@event_detail.covid_plan, disposition: "attachment")) %>
		<% else %>
		    <%= link_to "File", rails_blob_path(@event_detail.covid_plan, disposition: "attachment") %>
		<% end %>
		<%= link_to "Remove file", purge_covid_plan_gc_event_detail_path(@event_detail),
        	          method: :patch,
					  class: danger_button_class,
            	      role: "button" %>

		<br/>
		<br/>
	<% else %>
		<%= f.input :covid_plan, as: :file, label: 'Plan: ' %>

        <br/>

        <%= f.button :submit, "Upload" %>
	<% end %>
<% end %>