<%= simple_form_for(@mysyg_setting, url: url, html: { method: method }) do |f| %> 
	<%= f.error_notification %>

	<%= f.input :mysyg_open,
	            label: "MySYG Open" %>
	<%= f.hint  "tick this box to allow your participants to sign up for SYG using to your customised MySYG site." %>
	<br/>
	<br/>

	<% if @group.mysyg_setting.mysyg_open %>
		<p>You are good to go!</p>

		<p>Your participants can sign up using the link: <%= link_to mysyg_signup_url(group: @group.mysyg_setting.mysyg_name, protocol: "https", host: @settings.website_host), mysyg_signup_url(group: @group.mysyg_setting.mysyg_name, protocol: "https", host: @settings.website_host) %></p>
	<% end %>

	<h2>Signup Behaviour</h2>

	<p>You can customise whether your participants can sign up and log straight onto your MySYG site, or whether they have to be approved / accepted by you first.</p>

	<%= f.input :approve_option, 
				as: :select, 
				collection: MysygSetting::APPROVAL_OPTIONS,
				include_blank: false,
				label: "How people who sign up are approved",
				hint: "'Strict' means you have to approve all of your team members that sign up via your MySYG site. 'Tolerant' means anybody who signs up is automatically approved. 'Normal' means automatic approval if the person is still on your participant list from past years." %>
	<br/>

	<%= f.input :allow_part_time, 
				label: "Allow participants to come part-time" %>
	<%= f.hint  "By default, SYG allows participants to specify which days they will be attending SYG. Untick this box if you only want to present a 'full time' option to your participants." %>
	<br/>
	<br/>
	<% if @group.event_detail.onsite %>
		<%= f.input :allow_offsite, 
					label: "Allow participants to be Day Visitors" %>
		<%= f.hint  "By default, SYG allows participants to specify if they are staying onsite with you or not. Unlick this box if you want to remove this as an option for your participants." %>
		<br/>
		<br/>
	<% end %>
	<%= f.input :collect_age_by, 
	            as: :select,
				collection: MysygSetting::AGE_OPTIONS,
				label: "How to determine the age of your participants",
				hint: "'Age' means your participants will enter the age they will be at the start of State Youth Games. 'Date of Birth' means they enter this instead and their age at the start of SYG iss calculated." %>
	<br/>
	<%= f.input :require_emerg_contact, 
				label: "Require Emergency Contact for all participants" %>
	<%= f.hint  "By default, SYG requires emergency contact details for Under-18's only. Tick this box if you want to enforce the entry of Emergency Contact details for all of your participants." %>
	<br/>
	<br/>
	<%= f.input :require_medical, 
				label: "Require Medicare Card number and Expiry for all participants" %>
	<%= f.hint  "By default, SYG does not require the Medicare Card number or expiry date. Tick this box if you want to enforce the entry of Medicare Card details for your participants." %>

	<br/>
	<br/>

	<h2>Extras</h2>

	<p>Use 'Custom Extras' to allow your participants to be able to select things like team uniforms, transport costs, food costs, etc. To set these up for your MySYG site, use the menu option "MySYG > Custom extra costs"</p>

	<%= f.input :show_group_extras_in_mysyg, 
				label: "Show Custom Extras in MySYG" %>
	<%= f.hint  "untick this box if you do not want your participants to see any information about your Customer / Extra Costs when they log in to your MySYG site." %>
	<br/>
	<br/>

	<h2>Sports</h2>

	<p>Your participants will be able to use their sports tab to select their sports preferences. You will then be able to see these and use them when you are determining which sports to enter.
	To customise which sports your participants will be able to see and not see, use the menu options "MySYG > Filter [type] Sports for Participants".</p>

	<%= f.input :show_sports_on_signup, label: "Show Sports Preferences on Signup" %>
	<%= f.hint  "tick this box if you want your participants to be able to provide their Sports Preferences when they sign up to your MySYG site." %>
	<br/>
	<br/>
	<%= f.input :show_sports_in_mysyg, label: "Show Sports Preferences in MySYG" %>
	<%= f.hint  "untick this box if you do not want your participants to see any information about Sports when they log in to your MySYG site." %>
	<br/>
	<br/>

	<h2>Volunteers</h2>

	<p>Your participants will be able to sign up for Volunteer positions when they log on to your MySYG site.</p>
	<p>This tab will only be available for your participants who are 16 and over.</p>

	<%= f.input :show_volunteers_in_mysyg, 
				label: "Show Volunteer Positions in MySYG" %>
	<%= f.hint  "untick this box if you do not want your participants to see any information about Volunteer positions when they log in to your MySYG site." %>
	<br/>
	<br/>

	<h2>Finances</h2>

	<%= f.input :show_finance_in_mysyg, 
				label: "Show Finance Information in MySYG" %>
	<%= f.hint  "untick this box if you do not want your participants to see any information about Finances when they log in to your MySYG site." %>
	<%= f.input :instructions, as: :rich_text_area,
				label: "Participant instructions",
				hint: "your participants will see this on their Finances page when they log on. Example: 'Make cheques payable to Springfield Church of Christ'" %>

	<br/>	
	<p>Use the following fields if basic additions is all you need. For more flexibility, use the menu option 'MySYG' > 'Fee categories'</p>

	<%= f.input :extra_fee_total, 
				label: "Additional Costs (full weekend)", 
				hint: "all costs you intend to charge, in addition to the SYG fees. This figure, plus the SYG fee will be your group's basic fee" %>
	<%= f.input :extra_fee_per_day, 
				label: "Additional Costs (each day)", 
				hint: "your additional daily costs for people who are only attending for one or two days or nights. If they are attending full time, this figure will be ignored" %> 
	<br/>

	<%= f.button :submit, "Update Settings" %>
<% end %>	
