<tr valign="top" class="<%= grade_filtered(grade, @group) %>">

    <td width="40%">
        <%= grade.session_name %>
    </td>

    <td width="55%">
        <%= grade.name %>
    </td>

    <td class="list-actions">
	    <% if GroupsGradesFilter.exists?(grade_id: grade.id, group_id: @group.id) %>
	        <%= link_to 'Show', show_team_gc_groups_grades_filter_path(id: @mysyg_setting.id, 
                group_id: @group.id, 
                grade_id: grade.id), 
                method: :delete, 
    			class: primary_button_class,
	    		role: "button" %>
	    <% else %>
	        <%= link_to 'Hide', hide_team_gc_groups_grades_filter_path(id: @mysyg_setting.id, 
                group_id: @group.id, 
                grade_id: grade.id), 
                method: :post,
                class: primary_button_class,
                role: "button" %>
	    <% end %>
    </td>
</tr>
