<tr valign="top">
	<td> 
		<%= event_stats.year %>
	</td>
	<td> 
		<%= event_stats.weeks_to_syg %>
	</td>
	<td> 
		<%= event_stats.number_of_groups %>
	</td>
    <td> 
		<%= event_stats.number_of_participants %>
	</td>
    <td> 
    	<%= event_stats.number_of_sport_entries %>
	</td>
    <td> 
    	<%= event_stats.number_of_volunteer_vacancies %>
	</td>
</tr>
