<% title "Event Statistics" %>

<h1><%= yield(:title) %></h1>

<%= line_chart admin_group_stats_charts_path, title: "Groups", xtitle: "Week 20 is SYG" %>

<br/>

<%= line_chart admin_participant_stats_charts_path, title: "Participants", xtitle: "Week 20 is SYG" %>

<br/>

<%= line_chart admin_sport_entry_stats_charts_path, title: "Sport Entries", xtitle: "Week 20 is SYG" %>

<br/>

<%= line_chart admin_volunteer_stats_charts_path, title: "Volunteer Vacancies", xtitle: "Week 20 is SYG" %>

<br/>

<h2>Full Data Table</h2>
<table class="table table-dark table-striped">
  <thead>
    <tr>
        <th>Year</th>
        <th>Weeks to SYG</th>
        <th>Groups</th>
        <th>Participants</th>
        <th>Sport Entries</th>
        <th>Volunteer Vacancies</th>
    </tr>
  </thead>

	<%= render partial: 'event_stats', collection: @event_stats %>
</table>
