<% title "Admin Home" %>

<h1><%= yield(:title) %></h1>

Welcome! <br />
<br />

It is now <%= Time.now.in_time_zone.strftime("%d/%m/%Y %I:%M %p") %>.

<br/><br/>

<h2>Dashboard</h2>

<h3>Groups (<%= @total_groups%>)</h3>

<%= pie_chart admin_groups_charts_path, refresh: 60 %>

<br/><br/>

<h3>Participants (<%= @total_participants%>)</h3>

<%= pie_chart admin_participants_charts_path, refresh: 60 %>