<% title "Admin Home" %>

<%= raw Seer::init_visualization -%>

<h1><%= yield(:title) %></h1>

Welcome! <br />
<br />

It is now <%= Time.now.in_time_zone.strftime("%d/%m/%Y %I:%M %p") %>.

<br/><br/>

<h2>Dashboard</h2>

<%= render :partial => 'application/pie_chart', 
	:locals => { :chart_data => @groups_data,
				 :chart_element => "groups",
			     :chart_class => "chart",
				 :title => "Groups (#{@total_groups})" } %>

<%= render :partial => 'application/pie_chart', 
    :locals => { :chart_data => @participants_data,
                :chart_element => "participants",
                :chart_class => "chart",
                :title => "Participants (#{@total_participants})" } %>
