<%= simple_form_for(@event_detail, url: url, html: { method: method }) do |f| %> 
	<%= f.error_notification %>

	<%= f.input :onsite %>
	<%= f.input :estimated_numbers %>
	<%= f.input :number_of_vehicles %>
	<%= f.input :fire_pit %>
	<%= f.input :camping_rqmts, label: "Camping Requirements" %>
   	<%= f.input :tents %>
	<%= f.input :caravans %>
	<%= f.input :marquees %>
	<%= f.input :marquee_sizes %>
	<%= f.input :marquee_co %>

	<br/>

	<h2>Buddy Groups</h2>

	<%= f.input :buddy_interest, as: :select, collection: EventDetail::BUDDY_INTEREST, include_blank: false, label: "Interest" %>
	<%= f.input :buddy_comments, label: "Comments" %>

	<br/>

	<h2>Service Preferences</h2>

	<%= f.input :service_pref_sat, as: :select, collection: EventDetail::SERVICE_PREFERENCES, include_blank: false, label: "Saturday"  %>
	<%= f.input :service_pref_sun, as: :select, collection: EventDetail::SERVICE_PREFERENCES, include_blank: false, label: "Sunday"  %>

	<br/>

	<%= f.button :submit %>
<% end %>	
