<%= simple_form_for(@event_detail, url: url, html: { method: method }) do |f| %> 
	<%= f.error_notification %>

	<% if @settings.show_orientation_details %>
		<%= f.input :orientation_details %>
	<% end %>
	<%= f.input :onsite, label: "Staying onsite at Lardner Park" %>
	<%= f.input :warden_zone_id, as: :select, label: "Warden Zone", collection: WardenZone.order(:zone).load, include_blank: true %>
	<%= f.input :estimated_numbers %>
	<%= f.input :number_of_vehicles %>
	<%= f.input :fire_pit, label: "Bringing a fire pit" %>
	<%= f.input :camping_rqmts, label: "Camping Requirements" %>
   	<%= f.input :tents %>
	<%= f.input :caravans %>
	<%= f.input :marquees %>
	<%= f.input :marquee_sizes %>
	<%= f.input :marquee_co %>

	<br/>

	<h2>Buddy Groups</h2>

	<%= f.input :buddy_interest, as: :select, collection: EventDetail::BUDDY_INTEREST, include_blank: false, label: "Interest" %>
	<%= f.input :buddy_comments, label: "Comments" %>

	<br/>

	<h2>Service Preferences</h2>

	<%= f.input :service_pref_sat, as: :select, collection: EventDetail::SERVICE_PREFERENCES, include_blank: false, label: "Saturday"  %>
	<%= f.input :service_pref_sun, as: :select, collection: EventDetail::SERVICE_PREFERENCES, include_blank: false, label: "Sunday"  %>

	<br/>

	<h2>Food Certificate</h2>
	
	<% if @event_detail.food_cert.attached? %>
		<% if @event_detail.food_cert.representable? %>
		    <%= link_to(image_tag(@event_detail.food_cert.representation(resize_to_limit: [80, 100])), rails_blob_path(@event_detail.food_cert, disposition: "attachment")) %>
		<% else %>
		    <%= link_to "File", rails_blob_path(@event_detail.food_cert, disposition: "attachment") %>
		<% end %>
		<%= link_to "Remove file", purge_file_admin_event_detail_path(@event_detail),
        	          method: :patch,
					  class: danger_button_class,
            	      role: "button" %>

		<br/>
		<br/>
	<% else %>
		<%= f.input :food_cert, as: :file %>
	<% end %>

	<br/>

	<%= f.button :submit %>
<% end %>	
