<% title "Upload group event details" %>

<h1><%= yield(:title) %></h1>

<p>Import file must be in '.xlsx' format, with columns the same as the download:</p>
<ul>
  <li>RowID</li>
  <li>Abbr</li>
  <li>Orientation</li>
  <li>WardenZone</li>
  <li>Onsite</li>
  <li>FirePit</li>
  <li>CampingRqmts</li>
  <li>Tents</li>
  <li>Caravans</li>
  <li>Marquees</li>
  <li>MarqueeSizes</li>
  <li>MarqueeCo</li>
  <li>BuddyInterest</li>
  <li>BuddyComments</li>
  <li>ServiceSat</li>
  <li>ServiceSun</li>
  <li>EstNumbers</li>
  <li>Vehicles</li>
</ul>

<%= simple_form_for(@event_detail, url: import_admin_event_details_path) do |f| %> 
	<%= f.error_notification %>

	<%= f.input :file, as: :file, label: "Upload file" %>

    <br/>

	<%= f.button :submit, "Upload" %>
<% end %>	

<br/>

<%= link_to "Back", admin_event_details_path,
                  class: primary_button_class,
                  role: "button" %>
