<%= fields_for "sport_result_entries[]", sport_result_entry do |f| %>
<tr>
    <td><%= sport_result_entry.court %></td>
    <td><%= sport_result_entry.entry_a_team_text %></td>
	<td> 
		<%= f.select :score_a, ['Forfeit', *0..99] %>
	</td>
    <td><%= sport_result_entry.entry_b_team_text %></td>
	<td> 
		<%= f.select :score_b, ['Forfeit', *0..99] %>
	</td>
</tr>
<% end %>
