<p style="color: green"><%= notice %></p>

<%= render @sport_result_entry %>

<div>
  <%= link_to "Edit this sport result entry", edit_sc_sport_result_entry_path(@sport_result_entry) %> |
  <%= link_to "Back to sport result entries", sc_sport_result_entries_path(@sport_result_entry) %>

  <%= link_to "Destroy", sc_sport_result_entry_path(@sport_result_entry),
                  method: :delete,
                  data: { confirm: "Are you sure?" },
                  class: danger_button_class,
                  role: "button" %>
</div>