<% title "Listing volunteer types" %>

<h1><%= yield(:title) %></h1>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th>Type</th>
      <th>Database Code</th>
      <th>Sport Related</th>
    </tr>
  </thead>

	<%= render @volunteer_types %>
</table>

<%= link_to "New Type", new_admin_volunteer_type_path,
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "Download", admin_volunteer_types_path(format: :csv),
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "Upload", new_import_admin_volunteer_types_path,
                  class: primary_button_class,
                  role: "button" %>