<% title "Upload volunteer types" %>

<h1><%= yield(:title) %></h1>

<p>Import file must be in '.csv' format, with columns the same as the download:</p>
<ul>
  <li>RowID</li>
  <li>Active</li>
  <li>Name</li>
  <li>SportRelated</li>
  <li>T-Shirt</li>
  <li>Description</li>
  <li>AgeCategory</li>
</ul>

<%= simple_form_for(@volunteer_type, url: import_admin_volunteer_types_path) do |f| %> 
	<%= f.error_notification %>

	<%= f.input :file, as: :file, label: "Upload file" %>

    <br/>

	<%= f.button :submit, "Upload" %>
<% end %>	

<br/>

<%= link_to "Back", admin_volunteer_types_path,
                  class: primary_button_class,
                  role: "button" %>
