<% title "SYG Registration for #{@group.short_name}" %>

<h1><%= yield(:title) %></h1>

Welcome! <br />
<br />

It is now <%= Time.now.in_time_zone.strftime("%d/%m/%Y %I:%M %p") %>.

<br/><br/>

<p><strong>Groups attending:</strong> <%= @total_groups %></p>
<p><strong>Participants attending:</strong> <%= @total_participants %></p>

<br/>

<h3>Our participants (<%= @participants_registered%>)</h3>

<%= pie_chart gc_participants_charts_path %>