<% title "Listing sections" %>

<h1><%= yield(:title) %></h1>
<%= will_paginate @sections, :container => false %>

<%= link_to "New section", new_admin_section_path,
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "Download", admin_sections_path(format: :xlsx),
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "Upload", new_import_admin_sections_path,
                  class: danger_button_class,
                  role: "button" %>

<br/>
<br/>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th>Section</th>
      <th>Session</th>
      <th>Venue</th>
      <th>Entries</th>
    </tr>
  </thead>

	<%= render @sections %>
</table>

<%= will_paginate @sections, :container => false %>

<%= link_to "New section", new_admin_section_path,
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "Download", admin_sections_path(format: :xlsx),
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "Upload", new_import_admin_sections_path,
                  class: danger_button_class,
                  role: "button" %>