<% title "Listing sections" %>

<h1><%= yield(:title) %></h1>

<table class="table table-dark table-striped">
  <tr>
    <th>Section</th>
    <th>Session</th>
    <th>Venue</th>
  </tr>

	<%= render @sections %>
</table>

<%= link_to "New section", new_admin_section_path,
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "Download", admin_sections_path(format: :csv),
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "Upload", new_import_admin_sections_path,
                  class: primary_button_class,
                  role: "button" %>