<tr valign="top" class="<%= payment_display_class(payment) %>">
	<% if payment.reconciled %>
		<td> 
			<%= payment.invoice_number %>
		</td>

		<td> 
			<%= number_to_currency(payment.amount) %>
		</td>

		<td> 
			<%= payment.reference %>
		</td>

		<td> 
			<% if payment.receipt.attached? %>
				<% if payment.receipt.representable? %>
					<%= link_to(image_tag(payment.receipt.representation(resize_to_limit: [80, 100])), rails_blob_path(payment.receipt, disposition: "attachment")) %>
				<% else %>
					<%= link_to "Receipt", rails_blob_path(payment.receipt, disposition: "attachment") %>
				<% end %>
			<% end %>
		</td>
	<% else %>
		<%= simple_form_for(payment, url: paid_gc_payment_path(payment)) do |f| %> 
			<td> 
				<%= payment.invoice_number %>
			</td>

			<td> 
				<%= f.input_field :amount %>
			</td>

			<td> 
				<%= f.input_field :reference %>
			</td>

			<td> 
				<% if payment.paid %>
					<%= f.button :submit, "Update", class: primary_button_class %>
				<% else %>
					<%= f.button :submit, "Paid", class: primary_button_class %>
				<% end %>
			</td>
		<% end %>
	<% end %>
</tr>
