<tr valign="top" class="<%= group_ballot_display_class(group_result) %>">
	<td> 
		<%= h(group_result[:group_name]) %>
	</td>
	<td align="center"> 
		<%= h(group_result[:number_entered]) %>
	</td>
	<td align="center"> 
		<%= h(group_result[:number_to_confirm]) %>
	</td>
	<td align="center"> 
		<%= h(group_result[:number_missed_out]) %>
	</td>
</tr>
