<%= simple_form_for(@participant, url: url, html: { method: method }) do |f| %> 
	<%= f.error_notification %>

	<%= f.input :lock_version, as: :hidden %>

	<% unless @camping_answers.empty? %>
		<%= render partial: 'questions', collection: @camping_answers, as: :answer, locals: {f: f} %>

		<br/>
    <% else %>
		<p>Your group has no camping questions for your participants.</p>
    <% end %>

	<%= f.button :submit %>
<% end %>	
