<tr valign="top" class="<%= participant_display_class(participant) %>">
	<td> 
		<%= participant.driver ? "Yes" : "No" %>
	</td>
	
	<td> 
		<%= link_to participant.surname, edit_driver_gc_participant_path(participant) %>
	</td>

	<td> 
        <%= link_to participant.first_name, edit_driver_gc_participant_path(participant) %>
	</td>
	
	<td> 
		<%= participant.number_plate %>
	</td>

	<td> 
		<%= participant.driver_signature ? "Yes" : "No" %>
	</td>
</tr>
