<tr valign="top" class="<%= participant_display_class(participant) %>">
	<td> 
        <%= link_to participant.name, edit_gc_participant_path(participant) %>

		<% if participant.voucher %>
			<span class="badge bg-success"><%= participant.voucher.name %></span>
		<% end %>
	</td>
	
	<td> 
		<%= participant.category %>
	</td>
	
	<td> 
		<%= participant.days %>
	</td>
	
	<td align="right"> 
		<%= number_to_currency(participant.fee) %>
	</td>
	
	<td>
		<% if registrations_open %>
			<% unless participant.coming %>
				<%= link_to "Coming", coming_gc_participant_path(participant),
					method: :patch,
					class: primary_button_class,
					role: "button" %>
			<% end %>
			<%= link_to "X", gc_participant_path(participant),
				method: :delete,
				data: { confirm: "Are you sure?" },
				class: danger_button_class,
				role: "button" %>
		<% end %>
	</td>
</tr>
