<% title "Nominated Drivers" %>

<h1><%= yield(:title) %></h1>
    
<% if !@participants.empty? %>
    <%= link_to "Drivers Nomination Form (PDF)", drivers_gc_participants_path(format: :pdf),
        class: primary_button_class,
        role: "button" %>
    <%= link_to "Download", drivers_gc_participants_path(format: :xlsx),
        class: primary_button_class,
        role: "button" %>

    <br/>
    <br/>

    <table class="table table-dark">
        <thead>
            <tr>
                <th>Driver</th>
                <th>Name</th>
                <th>Number Plate</th>
                <th>Signed?</th>
            </tr>
        </thead>
        
        <%= render :partial => 'participant_driver', :collection => @participants, :as => :participant %>
    </table>

    <%= link_to "Drivers Nomination Form (PDF)", drivers_gc_participants_path(format: :pdf),
        class: primary_button_class,
        role: "button" %>
    <%= link_to "Download", drivers_gc_participants_path(format: :xlsx),
        class: primary_button_class,
        role: "button" %>

<% end %>

<br />

<%= legend_box [{:name => "Sports Participant", :class => "table-primary"},
					{:name => "Spectator", :class => "table-warning"},
					{:name => "Not Coming", :class => "table-dark"}] %>
