<% title "Editing #{@participant.name}" %>

<h1><%= yield(:title) %></h1>

<% @question_number = 0 %>

<%= render partial: "form", locals: { 
                              url: gc_participant_path(@participant), 
                              method: :patch } %>

<br/>

<%= link_to "Back", gc_participants_path,
                  class: primary_button_class,
                  role: "button" %>
<% if registrations_open %>
    <%= link_to "Destroy", gc_participant_path(@participant),
                    method: :delete,
                    data: { confirm: "Are you sure?" },
                    class: danger_button_class,
                    role: "button" %>
<% elsif @participant.coming %>
    <%= link_to "Replace", edit_transfer_gc_participant_path(@participant),
                    class: danger_button_class,
                    role: "button" %>
<% end %>
