<% title "Upload participants" %>

<h1><%= yield(:title) %></h1>

<p>Import file must be in '.csv' format, with columns the same as the download (and in the same order):</p>
<ul>
  <li>FirstName</li>
  <li>Surname</li>
  <li>Coming</li>
  <li>Age</li>
  <li>Gender</li>
  <li>Type</li>
  <li>Friday</li>
  <li>Saturday</li>
  <li>Sunday</li>
  <li>Monday</li>
  <li>Address</li>
  <li>Suburb</li>
  <li>Postcode</li>
  <li>Phone</li>
  <li>Email</li>
  <li>Medicare</li>
  <li>MedicalInfo</li>
  <li>Medications</li>
  <li>Allergies</li>
  <li>YearsAttended</li>
  <li>Spectator</li>
  <li>Onsite</li>
  <li>Helper</li>
  <li>GC</li>
  <li>Driver</li>
  <li>NumberPlate</li>
  <li>DietaryRqmts</li>
  <li>EmergContact</li>
  <li>EmergRel</li>
  <li>EmergPhone</li>
  <li>WWCC</li>
</ul>

<%= simple_form_for(@participant, url: import_gc_participants_path) do |f| %> 
	<%= f.error_notification %>

	<%= f.input :file, as: :file, label: "Upload file" %>

    <br/>

	<%= f.button :submit, "Upload" %>
<% end %>	

<br/>

<%= link_to "Back", gc_participants_path,
                  class: primary_button_class,
                  role: "button" %>
