<% title "Participant sport notes" %>

<h1><%= yield(:title) %></h1>
    
<% if !@participants.empty? %>
    <%= link_to "Download", sport_notes_gc_participants_path(format: :xlsx),
                  class: primary_button_class,
                  role: "button" %>

    <br/>
    <br/>

    <table class="table table-dark">
        <thead>
            <tr>
                <th>Name</th>
                <th>Sport Notes</th>
            </tr>
        </thead>

        <%= render partial: 'participant_sport_notes', collection: @participants, as: :participant %>
    </table>

    <%= link_to "Download", sport_notes_gc_participants_path(format: :xlsx),
                  class: primary_button_class,
                  role: "button" %>
<% end %>

<%= legend_box [{:name => "Sports Participant", :class => "table-primary"},
					{:name => "Spectator", :class => "table-warning"},
					{:name => "Not Coming", :class => "table-dark"}] %>
