<% title "Listing venues" %>

<h1><%= yield(:title) %></h1>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th>Venue</th>
      <th>Database Code</th>
      <th>#Sections</th>
    </tr>
  </thead>

	<%= render @venues %>
</table>

<%= link_to "New Venue", new_admin_venue_path,
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "Download", admin_venues_path(format: :csv),
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "Upload", new_import_admin_venues_path,
                  class: danger_button_class,
                  role: "button" %>