<% title "Venue details: #{@venue.name}" %>

<h1><%= yield(:title) %></h1>

<%= render 'show', model: @venue %>

<div style='width: 450px;'>
  <div id="map" style='width: 450px; height: 450px;'>
    <p>
        <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=16&size=450x450&markers=color:red|#{@venue.address}&key=#{Rails.application.credentials.google_api_key}", alt: "Map" %>
    </p>
  </div>
</div>

<%= link_to "Back", admin_venues_path,
                  class: "btn btn-primary btn-sm",
                  role: "button" %>
<%= link_to "Edit", edit_admin_venue_path(@venue),
                  class: "btn btn-primary btn-sm",
                  role: "button" %>
