<% title "Venue details: #{@venue.name}" %>

<h1><%= yield(:title) %></h1>

<%= render 'show', model: @venue %>

<div style='width: 300px;'>
  <div id="map" style='width: 300px; height: 300px;'>
    <p>
        <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=300x300&center=#{@venue.address}&key=#{Rails.application.credentials.google_api_key}", alt: "Map" %>    </p>
  </div>
</div>

<%= link_to "Back", admin_venues_path,
                  class: "btn btn-primary btn-sm",
                  role: "button" %>
<%= link_to "Edit", edit_admin_venue_path(@venue),
                  class: "btn btn-primary btn-sm",
                  role: "button" %>
