<% title "Listing sports" %>

<h1><%= yield(:title) %></h1>

<table class="table table-dark table-striped">
  <tr>
    <th>Sport</th>
    <th>#Grades</th>
    <th>Max Group Entries (indiv)</th>
    <th>Max Group Entries (team)</th>
    <th>Max Individual Entries</th>
  </tr>

	<%= render @sports %>
</table>

<%= link_to "New Sport", new_admin_sport_path,
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "Download", admin_sports_path(format: :csv),
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "Upload", new_import_admin_sports_path,
                  class: primary_button_class,
                  role: "button" %>