<% title "Sport details: #{@sport.name}" %>

<h1><%= yield(:title) %></h1>

<table>
	<% for column in Sport.content_columns %>
    	<tr>
	      	<td><b><%= column.human_name %>:</b></td> <td><%=h @sport.send(column.name) %></td>
    	</tr>
	<% end %>
</table>

<%= link_to "Edit", edit_admin_sport_path(@sport),
                  class: "btn btn-primary btn-sm" %>
<%= link_to "Back", admin_sports_path,
                  class: "btn btn-primary btn-sm" %>
