<%= simple_form_for(@volunteer, url: url, html: { method: method }) do |f| %> 
	<%= f.error_notification %>

	<%= f.input :volunteer_type_id, as: :select, :collection => @volunteer_types %>

	<%= f.input :description %>
	<%= f.input :session_id, as: :select, :collection => @sessions, :include_blank => true  %>

	<%= f.input :participant_id, as: :select, :label => "Volunteer", :collection => @participants_with_group_name, :include_blank => true %>

	<%= f.input :email %>
	<%= f.input :mobile_number %>
	<%= f.input :t_shirt_size, :as => :select, :collection => Volunteer::T_SHIRT_SIZES, :include_blank => true if should_display_t_shirt_flag %>

	<h3>Volunteer Email</h3>

	<%= f.input :email_strategy, as: :select, collection: Volunteer::EMAIL_STRATEGIES, include_blank: false %>
	<%= f.input :send_volunteer_email, label: "Does this volunteer type get a volunteer email?" %>
	<%= f.input :cc_email, label: "Email address of committee member to be cc'ed" %>
	<%= f.input :email_template, as: :select, collection: VolunteerType::EMAIL_TEMPLATES, include_blank: false %>

	<%= f.input :instructions, as: :rich_text_area,
				label: "Volunteer instructions",
				hint: "Instructions to be sent to volunteers by email prior to the event" %>

	<%= f.button :submit %>
<% end %>	
