<% title "Upload volunteers" %>

<h1><%= yield(:title) %></h1>

<p>Import file must be in '.csv' format, with columns the same as the download:</p>
<ul>
  <li>RowID</li>
  <li>Active</li>
  <li>Name</li>
  <li>SportRelated</li>
  <li>T-Shirt</li>
  <li>Description</li>
</ul>

<%= simple_form_for(@volunteer, url: import_admin_volunteers_path) do |f| %> 
	<%= f.error_notification %>

	<%= f.input :file, as: :file, label: "Upload file" %>

    <br/>

	<%= f.button :submit, "Upload" %>
<% end %>	

<br/>

<%= link_to "Back", admin_volunteers_path,
                  class: primary_button_class,
                  role: "button" %>
