<% title "Upload volunteers" %>

<h1><%= yield(:title) %></h1>

<p>Import file must be in '.xlsx' format, with columns the same as the download:</p>
<ul>
  <li>ID</li>
  <li>Type</li>
  <li>Volunteer Type</li>
  <li>Description</li>
  <li>Sections</li>
  <li>Session</li>
  <li>ParticipantID</li>
  <li>Name</li>
  <li>Group</li>
  <li>Email</li>
  <li>Mobile</li>
  <li>T-Shirt</li>
  <li>EmailStrategy</li>
  <li>SendEmail</li>
  <li>CC</li>
  <li>Template</li>
  <li>EmailSent</li>
</ul>

<%= simple_form_for(@volunteer, url: import_admin_volunteers_path) do |f| %> 
	<%= f.error_notification %>

	<%= f.input :file, as: :file, label: "Upload file" %>

    <br/>

	<%= f.button :submit, "Upload" %>
<% end %>	

<br/>

<%= link_to "Back", admin_volunteers_path,
                  class: primary_button_class,
                  role: "button" %>
