<% title "Sports preferences" %>

<h1><%= yield(:title) %></h1>

<%= render 'filter' %>

<br/>

<% unless @sport_preferences.empty? %>
    <%= link_to "Download", gc_sport_preferences_path(format: :xlsx),
                  class: primary_button_class,
                  role: "button" %>

    <br/>
    <br/>

    <table class="table table-dark">
        <thead>
            <tr>
                <th>Session</th>
                <th>Sport / Grade</th>
                <th>Name</th>
                <th>Preference</th>
                <th>Actions</th>
            </tr>
        </thead>
    
        <%= render @sport_preferences %>
    </table>

    <%= link_to "Download", gc_sport_preferences_path(format: :xlsx),
                  class: primary_button_class,
                  role: "button" %>
<% end %>

<%= legend_box [{:name => "Allocated to this grade", :class => "table-primary"},
				{:name => "Unallocated preferences", :class => "table-secondary"}, 
				{:name => "Already playing this sport", :class => "table-warning"}] %>
