<%= simple_form_for(@volunteer, url: url, html: { method: method }) do |f| %> 
	<%= f.error_notification %>

	<table class="table table-dark table-striped">
		<tr><td>Type</td><td><%= @volunteer.volunteer_type.name %></td></tr>
		<tr><td>Description</td><td><%= @volunteer.volunteer_type.description %></td></tr>
		<tr><td>Name</td><td><%= @volunteer.description %></td></tr>
		<% unless @volunteer.sections.size < 2 %>
			<tr><td>Section(s)</td>
			<td>
			<% @volunteer.sections.order(:name).each do |section| %>
			   <%= section.name %><br/>
			<% end %>
			</td>
		<% end %> 
		<tr><td>Session</td><td><%= @volunteer.session_name %></td></tr>
		<% if @volunteer.sections.first  %>
			<tr><td>Venue</td><td><%= @volunteer.venue_name %></td></tr>
			<% if @volunteer.sections.first.sport.rules_file.attached? %>
				<tr><td>Rules</td>
				<% if @volunteer.sections.first.sport.rules_file.representable? %>
					<td><%= link_to(image_tag(@volunteer.sections.first.sport.rules_file.representation(resize_to_limit: [40, 50])), rails_blob_path(@volunteer.sections.first.sport.rules_file, disposition: "attachment")) %></td>
				<% else %>
					<td><%= link_to "Rules", rails_blob_path(@volunteer.sections.first.sport.rules_file, disposition: "attachment") %></td>
				<% end %>
				</tr>
			<% end %>
		<% end %> 
	</table>

	<%= f.input :participant_id, as: :select, :label => "Volunteer", :collection => @participants, :include_blank => true %>

	<%= f.input :email %>
	<%= f.input :mobile_number %>
	<%= f.input :t_shirt_size, :as => :select, :collection => Volunteer::T_SHIRT_SIZES, :include_blank => true if should_display_t_shirt_flag %>

	<%= f.button :submit %>
<% end %>	
