<%= simple_form_for @group_signup, :url => {:action => :create} do |f| %> 
	<%= f.error_notification %>

    <h2>Church, Agency or Organisation Details</h2>

    <p>Either select your group from the drop-down list, or if not found, type your group name below</p>
    <%= f.input :id, as: :select, label: "Group", :collection => @groups, :selected => @group_signup.id, include_blank: true %>
    <p>OR</p>
    <%= f.input :name, label: "Group Name" %>
    <br\>
    <%= f.input :address, :required => true %>
    <%= f.input :suburb, :input_html => {:size => 40}, :required => true %>
    <%= f.input :postcode, :input_html => {:size => 4}, :required => true %>
    <%= f.input :email, :required => true %>
    <%= f.input :website %>
    <%= f.input :phone_number, :required => true %>
    <%= f.input :denomination, required: true %>

    <h2>Church, Agency or Organisation Representative</h2>

    <%= f.input :church_rep_name, label: "Name", :required => true %>
    <%= f.input :church_rep_role, label: "Role in Church or Organisation", :required => true %>
    <%= f.input :church_rep_address, label: "Address", :required => true %>
    <%= f.input :church_rep_suburb, label: "Suburb", :input_html => {:size => 40}, :required => true %>
    <%= f.input :church_rep_postcode, label: "Postcode", :input_html => {:size => 4}, :required => true %>
    <%= f.input :church_rep_email, label: "Direct email address", :required => true %>
    <%= f.input :church_rep_phone_number, label: "Phone number", :required => true %>
    <%= f.input :church_rep_wwcc_number, label: "Working With Children Check number", :required => true %>

    <h2>Nominated Group Coordinator</h2>
    <strong>This person should be a different individual to the Church, Agency or Organisation representative</strong>
    <p>This individual will be responsible for representing, organising, and liaising with your organisation and the SYG event</p>

    <%= f.input :gc_name, label: "Name", :required => true %>
    <%= f.input :gc_address, label: "Address", :required => true %>
    <%= f.input :gc_suburb, label: "Suburb", :input_html => {:size => 40}, :required => true %>
    <%= f.input :gc_postcode, label: "Postcode", :input_html => {:size => 4}, :required => true %>
    <%= f.input :gc_email, label: "Direct email address", :required => true %>
    <%= f.input :gc_phone_number, label: "Phone number", :required => true %>
    <%= f.input :gc_wwcc_number, label: "Working With Children Check number", :required => true %>
    <%= f.input :gc_reference, label: "Referee", :required => true %>
    <%= f.input :gc_reference_phone, label: "Referee contact number", :required => true %>
    <%= f.input :years_as_gc, label: "Years as GC", hint: "How many times has this individual been a GC before?" %>

    <%= f.button :submit, label: "Sign up" %>
<% end %>	
