<%= simple_form_for @group_signup, :url => {:action => :create} do |f| %> 
	<%= f.error_notification %>

    <h2>Church, Agency or Organisation Details</h2>

    <p>Either select your group from the drop-down list, or if not found, type your group name below</p>
    <%= f.input :id, as: :select, label: "Group", :collection => @groups, :selected => @group_signup.id, include_blank: true %>
    <p>OR</p>
    <%= f.input :name, label: "Group Name" %>
    <br/>
    <%= f.input :address %>
    <%= f.input :suburb %>
    <%= f.input :postcode %>
    <%= f.input :email %>
    <%= f.input :website %>
    <%= f.input :phone_number %>
    <%= f.input :denomination %>
	<%= f.input :years_attended, label: "Years group has attended" %>
	<%= f.input :group_changes, as: :text, label: "Any changes to previous years (if attended prior)", hint: "Any changes to previous years (if attended prior), church leadership, youth turn over etc - pastoral needs that will effect the young people" %>
	<%= f.input :ministry_goal, as: :text, label: "Briefly describe ministry goal", hint: "Gives understanding to reason of attendance, helps to address cultural or pastoral care needs. What is the aim for your group - outreach, discipleship, team building" %>
	<%= f.input :attendee_profile, as: :text, label: "Briefly describe those attending", hint: "Gives understanding to who we have at the event." %>

    <h2>Church, Agency or Organisation Representative</h2>

    <%= f.input :church_rep_name, label: "Name" %>
    <%= f.input :church_rep_role, label: "Role in Church or Organisation" %>
    <%= f.input :church_rep_wwcc_number, label: "Working With Children Check number", as: :string %>
    <%= f.input :church_rep_address, label: "Address" %>
    <%= f.input :church_rep_suburb, label: "Suburb" %>
    <%= f.input :church_rep_postcode, label: "Postcode" %>
    <%= f.input :church_rep_email, label: "Direct email address" %>
    <%= f.input :church_rep_phone_number, label: "Phone number" %>

    <h2>Nominated Group Coordinator</h2>
    <strong>This person should be a different individual to the Church, Agency or Organisation representative</strong>
    <p>This individual will be responsible for representing, organising, and liaising with your organisation and the SYG event</p>

    <%= f.input :gc_name, label: "Name", as: :string %>
    <%= f.input :gc_wwcc_number, label: "Working With Children Check number" %>
    <%= f.input :gc_address, label: "Address" %>
    <%= f.input :gc_suburb, label: "Suburb" %>
    <%= f.input :gc_postcode, label: "Postcode" %>
    <%= f.input :gc_email, label: "Direct email address" %>
    <%= f.input :gc_phone_number, label: "Phone number" %>
    <%= f.input :gc_reference, label: "Referee" %>
    <%= f.input :gc_reference_phone, label: "Referee contact number" %>
    <%= f.input :years_as_gc, label: "Years as GC", hint: "How many times has this individual been a GC before?" %>
	<%= f.input :gc_role, as: :text, label: "GC's role at church", hint: "Besides GC, what is their role in your church? Are they doing this as a volunteer, or part of their church role. Who is keeping them accountable and supporting them?" %>
	<%= f.input :gc_decision, as: :text, label: "How did you decide on this GC? What support structures are in place?" %>
	<%= f.input :gc_years_attended_church, label: "Years attended church", hint: "GCs who have been at the church for under 1 year should also have a co-leader as it is difficult to take on this role without understanding your church culture and community" %>
	<%= f.input :gc_thoughts, as: :text, label: "Additional thoughts or any concerns about this GC?" %>

    <h2>Important Information</h2>

	<table class="table table-dark table-striped">
		<tr>
			<td> 
				<strong>Theme Brief</strong>
			</td>
			<td> 
				Gather, Grow, Go - have you been given the theme brief, do you have an understanding of the resources available?
			</td>
		</tr>
		<tr>
			<td> 
				<strong>Volunteers</strong>
			</td>
			<td> 
				SYG runs on volunteers. Unless you are a first time group, are you aware your group will be called upon to supply volunteers to the running of the event, etc - marshals, sport coordinators, ushers...
			</td>
		</tr>
		<tr>
			<td> 
				<strong>Insurance cover</strong>
			</td>
			<td> 
				SYG has public indemnity cover, covering injury due to neglience of organisers. This does not cover sporting injuries. Claims must be made through the church. If not possible, your church must clearly communicate to participants to find cover or participate under their own risk.
			</td>
		</tr>
		<tr>
			<td> 
				<strong>WWCC</strong>
			</td>
			<td> 
				All participants over 18 must have a WWCC, including visitors, teachers and police officers. If there is a reason they don't, we need to discuss. Please tick the box below requesting a follow-up call with SYG organisers
			</td>
		</tr>
		<tr>
			<td> 
				<strong>Financial Liability</strong>
			</td>
			<td> 
				<p>By accepting a participant to attend with your group on the registration system you are liable for their place. It is your group's responsibility to cover their cost if they pull out.</p>
				<p>Invoices are to be paid within 7 days of receipt.</p>
			</td>
		</tr>
		<tr>
			<td> 
				<strong>OHS Camping</strong>
			</td>
			<td> 
				Are you staying onsite? Lardner Park requires you to follow all OHS procedures. Please make sure electrical items are tested and tagged and follow safety compliance rules - please note all marquee, fire and gas compliance requirements are met
			</td>
		</tr>
	</table> 

    <br/>

  	By ticking this box, you confirm you have read and understood the above important information.

	<br/>
	<br/>

    <%= f.input :info_acknowledgement, :as => :boolean, :label => "I have understood the above information"  %>

    <h2>Follow Up</h2>

	Please tick this box if you would like a member of the State Youth Games organising team to contact you to discuss any of the above information.

	<br/>
	<br/>

    <%= f.input :followup_requested, :as => :boolean, :label => "I would like a follow-up call from SYG organisers"  %>

    <h2>Disclaimers</h2>


	<br/>
	<br/>

    <%= f.input :disclaimer, :as => :boolean, :label => "I acknowledge my responsibility as the church representative and the group coordinator to implement these policies and to ensure they are communicated to and followed by all participants, leaders, volunteers, and parents/guardians within my group."  %>

    <%= f.button :submit, label: "Sign up" %>
<% end %>	
