<%= simple_form_for @participant_signup, url: mysyg_participant_signups_url(group: @group.mysyg_setting.mysyg_name) do |f| %> 
	<%= f.error_notification %>

    <% if @group.abbr == "DFLT" %>
        <%= f.input :group_id, as: :select, collection: @groups, selected: @participant_signup.group_id, include_blank: true %>
    <% else %>
        <%= f.input :group_id, as: :hidden %>
    <% end %>

	<%= f.input :first_name %>
	<%= f.input :surname %>
	<%= f.input :coming, as: :boolean %>
	<%= f.input :onsite, as: :boolean if can_display_onsite_flag %>
	<%= f.input :spectator, as: :boolean %>
	<%= f.input :age, hint: "as at #{@settings.first_day_of_syg}" %>
	<%= f.input :gender, as: :select, collection: Participant::SEX, include_blank: false %>
	<%= f.input :wwcc_number, label: "WWCC Number" %>
	<%= f.input :voucher_name, label: "Voucher" %>
	<br/>
	<div><label class="string">Participation  (days are only relevant if part time)</label> <span class="<%= participant_type_class(@participant_signup.participant) %>"><%= @participant_signup.participant.rego_type %></span></div>
	<%= f.input :coming_friday, as: :boolean, label: "Friday" %>
	<%= f.input :coming_saturday, as: :boolean, label: "Saturday" %>
	<%= f.input :coming_sunday, as: :boolean, label: "Sunday" %>
	<%= f.input :coming_monday, as: :boolean, label: "Monday" %>

	<br/>
	<%= f.input :address %>
	<%= f.input :suburb %>
	<%= f.input :postcode %>
	<%= f.input :phone_number, label: "Home phone number"  %>
	<%= f.input :mobile_phone_number, hint: "enter a mobile number if you want to receive SMS updates and urgent messages from the SYG Admin team throughout the SYG weekend" %>
	<%= f.input :email %>

	<br/>
    <%= f.button :submit, "Sign up" %>
<% end %>	
