<%= simple_form_for(@participant, url: url, html: { method: method }) do |f| %> 
	<%= f.error_notification %>

	<%= f.input :lock_version, as: :hidden %>
	<%= f.input :first_name %>
	<%= f.input :surname %>
	<div><label class="string">Status</label> <span class="<%= participant_status_class(@participant) %>"><%= @participant.status %></span></div>
	<%= f.input :coming %>
	<%= f.input :onsite, label: "Staying onsite at Lardner Park" %>
	<%= f.input :spectator %>
	<%= f.input :helper, label: "Team Helper" if can_display_helper_flag %>
	<%= f.hint "must also be a spectator" if can_display_helper_flag %>
	<%= f.input :group_coord, label: "Group Coordinator" if can_display_group_coord_flag %>
	<%= f.hint "maximum of two per group" if can_display_group_coord_flag %>
	<%= f.input :sport_coord, label: "Sport Coordinator" %>
	<%= f.input :guest %>
	<% unless @participant.new_record? %>
		<% if @participant.voucher %>
			<div><label class="string">Voucher</label> <span class="badge bg-success"><%= @participant.voucher.name %></span>
				<%= link_to "X", delete_voucher_admin_participant_path(@participant),
					method: :patch,
					data: { confirm: "Are you sure?" },
					class: danger_button_class,
					role: "button" %>
			</div>
		<% else %>
			<div><label class="string">Voucher</label> 
				<%= link_to "Add", new_voucher_admin_participant_path(@participant),
					method: :get,
					class: primary_button_class,
					role: "button" %>
			</div>
		<% end %>
	<% end %>

	<br/>
	<div><label class="string">Participation  (days are only relevant if part time)</label> <span class="<%= participant_type_class(@participant) %>"><%= @participant.rego_type %></span></div>
	<%= f.input :coming_friday, label: "Friday" %>
	<%= f.input :coming_saturday, label: "Saturday" %>
	<%= f.input :coming_sunday, label: "Sunday" %>
	<%= f.input :coming_monday, label: "Monday" %>
	<br/>
	<%= f.input :group_id, as: :select, collection: Group.all.order(:short_name).map { |g| [g.short_name_with_status, g.id] } %>

	<%= f.input :early_bird, label: "Early Bird Discount" %>

	<%= f.input :years_attended, label: "Years attended SYG", hint: "including this year" %>
	<% if @participant.new_record? || @participant.group.mysyg_setting.collect_age_by == "Age" %>
		<%= f.input :age, hint: "as at #{@settings.first_day_of_syg}" %>
	<% else %>
		<%= f.input :date_of_birth, required: true, as: :date, start_year: Date.today.year - 80, end_year: Date.today.year %>
		<br/>
		<table class="table table-dark table-striped">
			<tr>
				<td> 
					<strong>Age</strong>
				</td>
				<td> 
					<%= @participant.age %>
				</td>
			</tr>
		</table>
	<% end %>
	<%= f.input :gender, as: :select, collection: Participant::SEX, include_blank: false %>
	<%= f.input :wwcc_number, label: "WWCC Number" %>

  	<%= f.input :amount_paid %>

	<%= f.input :address %>
	<%= f.input :suburb %>
	<%= f.input :postcode %>
	<%= f.input :phone_number, label: "Home phone number"  %>
	<%= f.input :mobile_phone_number, hint: "enter a mobile number if you want this participant to receive SMS updates and urgent messages from the SYG Admin team throughout the SYG weekend" %>
	<%= f.input :email, hint: "email address that this participant's event ticket will be sent to (copies will also be sent to each GC)" %>

	<br/>

	<h2>Driver Info</h2>

   	<%= f.input :driver, label: "Nominated Driver"  %>
    <%= f.input :driving_to_syg, :as => :boolean %>
    <%= f.input :licence_type, as: :select, collection: Participant::LICENCE_TYPES, include_blank: true %>
   	<%= f.input :number_plate, label: "Number Plate", hint: "drivers only"%>
   	<%= f.input :driver_signature, label: "Driver Electronic Signature" %>
   	<%= f.input :driver_signature_date, as: :date, label: "Date Signed", include_blank: true %>

	<br/>

	<h2>Medical</h2>

	<%= f.input :medicare_number %>
	<%= f.input :medicare_expiry, as: :date, start_year: Date.today.year, discard_day: true, include_blank: true %>
	<%= f.input :medical_injuries, label: "Current or Pre-existing Injuries", hint: "Could you please confirm whether you have any pre-existing or current injuries? If so, kindly clarify if you have obtained the necessary medical clearance that authorises your participation in the SYG's program. It is imperative that you answer these questions truthfully, as any untoward incident during the SYG's event that results in a claim being made will be subject to investigation by your insurer. We are committed to ensuring the safety and well-being of all participants, and providing accurate information is crucial in upholding this commitment." %>
	<%= f.input :medical_info, label: "Medical information" %>
	<%= f.input :medications %>
	<%= f.input :allergies %>
	<%= f.input :dietary_requirements %>
	<%= f.input :emergency_contact %>
	<%= f.input :emergency_relationship, label: "Relationship to participant" %>
	<%= f.input :emergency_phone_number, label: "Emergency contact phone number" %>
	<%= f.input :emergency_email, label: "Emergency contact email" %>

	<br/>

	<h2>Camping</h2>

	<%= f.input :camping_preferences %>

	<br/>

	<h2>Sport Notes</h2>

	<%= f.input :sport_notes %>

	<br/>

	<h2>Admin Use Only</h2>

	<%= f.input :withdrawn %>
	<%= f.input :fee_when_withdrawn, label: "Fee at Withdrawal" %>
	<%= f.input :late_fee_charged %>

	<br/>

	<%= f.button :submit %>
<% end %>	
