<tr valign="top" class="<%= participant_display_class(participant) %>">
	<td> 
        <%= link_to participant.name, edit_admin_participant_path(participant) %>

		<% if participant.voucher %>
			<span class="badge bg-success"><%= participant.voucher.name %></span>
		<% end %>
	</td>
	
	<td> 
		<%= participant.group.short_name %>
	</td>
	
	<td> 
		<%= participant.coming ? "Yes" : "No" %>
	</td>
</tr>
