<tr valign="top" class="<%= participant_display_class(participant) %>">
	<td> 
		<%= participant.driver ? "Yes" : "No" %>
	</td>
	
	<td> 
        <%= participant.name %>
	</td>
	
	<td> 
		<%= participant.number_plate %>
	</td>

	<td> 
		<%= participant.driver_signature ? "Yes" : "No" %>
	</td>
</tr>
