<% title "Listing day visitors" %>

<h1><%= yield(:title) %></h1>

<%= will_paginate @participants, :container => false %>

<%= link_to "New day visitor", new_day_visitor_admin_participants_path,
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "Download", day_visitors_admin_participants_path(format: :xlsx),
                  class: primary_button_class,
                  role: "button" %>

<br/>
<br/>

<table class="table table-dark">
  <thead>
    <tr>
      <th>Name</th>
      <th>Days</th>
      <th>Fee</th>
      <th>Paid</th>
    </tr>
  </thead>

	<%= render partial: 'day_visitor', collection: @participants, as: :participant %>
</table>

<%= will_paginate @participants, :container => false %>

<%= link_to "New day visitor", new_day_visitor_admin_participants_path,
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "Download", day_visitors_admin_participants_path(format: :xlsx),
                  class: primary_button_class,
                  role: "button" %>

<%= legend_box [{:name => "Sports Participant", :class => "table-primary"},
					{:name => "Spectator", :class => "table-warning"},
					{:name => "Not Coming", :class => "table-dark"}] %>
