<% title "Listing participants" %>

<h1><%= yield(:title) %></h1>

<%= search_box search_admin_participants_path, "Search" %>
<%= yield(:search_box)%>
<%= will_paginate @participants, :container => false %>

<%= link_to "New participant", new_admin_participant_path,
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "Download", admin_participants_path(format: :xlsx),
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "Upload", new_import_admin_participants_path,
                  class: danger_button_class,
                  role: "button" %>
<%= link_to "Audit", participant_audit_admin_participants_path(format: :csv),
                  class: primary_button_class,
                  role: "button" %>

<br/>
<br/>

<table class="table table-dark">
  <thead>
    <tr>
      <th>Name</th>
      <th>Group</th>
      <th>Coming</th>
    </tr>
  </thead>

	<%= render @participants %>
</table>

<%= will_paginate @participants, :container => false %>

<%= link_to "New participant", new_admin_participant_path,
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "Download", admin_participants_path(format: :xlsx),
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "Upload", new_import_admin_participants_path,
                  class: danger_button_class,
                  role: "button" %>
<%= link_to "Audit", participant_audit_admin_participants_path(format: :csv),
                  class: primary_button_class,
                  role: "button" %>

<%= legend_box [{:name => "Sports Participant", :class => "table-primary"},
					{:name => "Spectator", :class => "table-warning"},
					{:name => "Requiring approval", :class => "table-secondary"},
					{:name => "Transfer pending", :class => "table-danger"},
					{:name => "Not Coming or Transferred", :class => "table-dark"}] %>
