<% title "Listing participants" %>

<h1><%= yield(:title) %></h1>

<%= search_box search_admin_participants_path, "Search" %>
<%= yield(:search_box)%>

<br/>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th>Surname</th>
      <th>First Name</th>
      <th>Group</th>
      <th>Coming</th>
    </tr>
  </thead>

	<%= render @participants %>
</table>

<%= link_to "New participant", new_admin_participant_path,
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "Download", admin_participants_path(format: :csv),
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "Upload", new_import_admin_participants_path,
                  class: primary_button_class,
                  role: "button" %>