<% title "Editing sports entry" %>

<h1><%= yield(:title) %></h1>

<%= simple_form_for(@sport_entry, :url => gc_sport_entry_path(:id => @sport_entry.id), 
        :html => { :method => :put, :multipart => true }) do |f| %>

	<%= f.error_notification %>

    <table class="table table-dark table-striped">
        <tr><td>Sport / Grade</td><td><%= @sport_entry.section_name %></td></tr>
        <tr><td>Session</td><td><%= @sport_entry.session_name %></td></tr>
        <tr><td>Venue</td><td><%= @sport_entry.venue_name %></td></tr>
        <tr><td>Minimum age</td><td><%= @sport_entry.grade.min_age %></td></tr>
        <tr><td>Maximum age</td><td><%= @sport_entry.grade.max_age %></td></tr>
        <tr><td>Team size</td><td><%= @sport_entry.grade.team_size %></td></tr>
		<% if @sport_entry.grade.min_participants && @sport_entry.grade.min_participants > 0 %>
            <tr><td>Minimum number of participants</td><td><%= @sport_entry.grade.min_participants %></td></tr>
		<% end %> 
		<% if @sport_entry.grade.max_participants && @sport_entry.grade.max_participants < 999 %>
            <tr><td>Maximum number of participants</td><td><%= @sport_entry.grade.max_participants %></td></tr>
		<% end %> 
        <tr><td>Gender restritions</td><td><%= @sport_entry.grade.gender_type %></td></tr>
		<% if @sport_entry.grade.min_females && @sport_entry.grade.min_females > 0 %>
            <tr><td>Minimum number of females</td><td><%= @sport_entry.grade.min_females %></td></tr>
		<% end %> 
		<% if @sport_entry.grade.min_males && @sport_entry.grade.min_males > 0 %>
            <tr><td>Minimum number of males</td><td><%= @sport_entry.grade.min_males %></td></tr>
		<% end %> 
    </table>

    <%= f.input :preferred_section_id %>

	<%= f.button :submit %>
<% end %>

<h2>Participants</h2>

<div>
  <%= render :partial => 'error_box' %>
</div>

<%= link_to "Back", gc_sport_entries_path,
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "Destroy", gc_sport_entry_path(@sport_entry),
                  method: :delete,
                  data: { confirm: "Are you sure?" },
                  class: danger_button_class,
                  role: "button" %>
