<% title "Editing sports entry" %>

<h1><%= yield(:title) %></h1>

<table class="table table-dark table-striped">
    <tr><td>Sport / Grade</td><td><%= @sport_entry.section_name %></td></tr>
    <tr><td>Session</td><td><%= @sport_entry.session_name %></td></tr>
    <tr><td>Venue</td><td><%= @sport_entry.venue_name %></td></tr>
    <tr><td>Status</td><td data-bs-toggle="tooltip" data-bs-placement="right" title="<%= sport_entry_status_tooltip(@sport_entry) %>"><%= @sport_entry.status %>  <span class="badge rounded-pill bg-info text-dark">i</span></td></tr>
    <tr><td>Minimum age</td><td><%= @sport_entry.grade.min_age %></td></tr>
    <tr><td>Maximum age</td><td><%= @sport_entry.grade.max_age %></td></tr>
    <tr><td>Team size</td><td><%= @sport_entry.grade.team_size %></td></tr>
    <% if @sport_entry.grade.min_participants && @sport_entry.grade.min_participants > 0 %>
        <tr><td>Minimum number of participants</td><td><%= @sport_entry.grade.min_participants %></td></tr>
    <% end %> 
    <% if @sport_entry.grade.max_participants && @sport_entry.grade.max_participants < 999 %>
        <tr><td>Maximum number of participants</td><td><%= @sport_entry.grade.max_participants %></td></tr>
    <% end %> 
    <tr><td>Gender restrictions</td><td><%= @sport_entry.grade.gender_type %></td></tr>
    <% if @sport_entry.grade.min_females && @sport_entry.grade.min_females > 0 %>
        <tr><td>Minimum number of females</td><td><%= @sport_entry.grade.min_females %></td></tr>
    <% end %> 
    <% if @sport_entry.grade.min_males && @sport_entry.grade.min_males > 0 %>
        <tr><td>Minimum number of males</td><td><%= @sport_entry.grade.min_males %></td></tr>
    <% end %> 
    <% if @sport_entry.sport.rules_file.attached? %>
		<tr><td>Rules</td>
        <% if @sport_entry.sport.rules_file.representable? %>
		    <td><%= link_to(image_tag(@sport_entry.sport.rules_file.representation(resize_to_limit: [40, 50])), rails_blob_path(@sport_entry.sport.rules_file, disposition: "attachment")) %></td>
		<% else %>
		    <td><%= link_to "Rules", rails_blob_path(@sport_entry.sport.rules_file, disposition: "attachment") %></td>
		<% end %>
        </tr>
    <% end %>
    <% if @sport_entry.section && @sport_entry.section.draw_file.attached? %>
		<tr><td>Draw</td>
		<% if @sport_entry.section.draw_file.representable? %>
		    <td><%= link_to(image_tag(@sport_entry.section.draw_file.representation(resize_to_limit: [40, 50])), rails_blob_path(@sport_entry.section.draw_file, disposition: "attachment")) %></td>
		<% else %>
		    <td><%= link_to "Rules", rails_blob_path(@sport_entry.section.draw_file, disposition: "attachment") %></td>
		<% end %>
        </tr>
    <% end %>
</table>

<% unless @sport_entry.venue_known? && @sport_entry.session_known? %>
    <%= simple_form_for(@sport_entry, :url => gc_sport_entry_path(:id => @sport_entry.id), 
            :html => { :method => :patch, :multipart => true }) do |f| %>

        <%= f.error_notification %>

        <%= f.input :preferred_section_id, as: :select, collection: @sections, label_method: :session_and_venue, include_blank: true %>

        <%= f.button :submit %>
    <% end %>
<% end %>

<br/>

<div>
  <%= render :partial => 'error_box' %>
</div>

<br/>

<h2>Participants</h2>

<table class="table table-dark">
    <%= render partial: "participants" %>

    <% unless @eligible_participants.empty? %>
        <tr>
            <%= form_with(url: gc_sport_entry_participants_path(@sport_entry), method: :post) do |f| %> 
                <td><%= f.collection_select :id, @eligible_participants, :id, :name %></td>
                <td><%= f.submit "Add", role: :button, class: primary_button_class %></td>
            <% end %>	
        </tr>
    <% else %> 
        <% if @participants.empty? %>
            <tr>
                Note: There are no participants registered with your group that are
                eligible for this sport entry. To be eligible, a participant must:<br/>
                - Be coming to SYG<br/>
                - Be in a suitable age range for this sport grade<br/>
                - Be of a suitable gender for this sport grade<br/>
                - Not already be participating in this sport<br/>
                <br/>
                Please update your Participants list and come back to add your participants
                here
            </tr>
        <% end %>
    <% end %>
</table>

<br/>

<% unless @sport_entry.available_sport_preferences.empty? %>
    <h2>Additional Preferences</h2>

    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Comment</th>
                <th>Preference</th>
                <th>&nbsp;</th>
            </tr>
        </thead>

        <% for pref in @sport_entry.available_sport_preferences %>
            <tr valign="top">
                <td> 
                    <%= pref.participant.name %>
                </td>
                <td> 
                    <%= pref.entry_comment(@sport_entry) %>
                </td>
                <td> 
                    <%= pref.preference %>
                </td>
                <td> 
                    <%= link_to 'Add', gc_sport_entry_participants_path(sport_entry_id: @sport_entry.id, id: pref.participant.id),
                        class: primary_button_class,
                        role: :button,
					    method: :post %>
                </td>
            </tr>
        <% end %>
    </table>
<% end %>

<br/>

<%= link_to "Back", gc_sport_entries_path,
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "Delete", gc_sport_entry_path(@sport_entry),
                  method: :delete,
                  data: { confirm: "Are you sure?" },
                  class: danger_button_class,
                  role: "button" %>
