<% title "Listing sport entries" %>

<h1><%= yield(:title) %></h1>

<% if @settings.sports_loaded %>

<%= will_paginate @sport_entries, :container => false %>

<% if @settings.restricted_sports_allocated %>
  <%= link_to "By session", gc_sport_entries_path(order: :session),
                    class: primary_button_class,
                    role: "button" %>
  <%= link_to "By sport", gc_sport_entries_path,
                    class: primary_button_class,
                    role: "button" %>
<% end %>
<%= link_to "New sport entry", new_gc_sport_entry_path,
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "Download", gc_sport_entries_path(format: :csv),
                  class: primary_button_class,
                  role: "button" %>

<br/>
<br/>

<table class="table table-dark">
  <thead>
    <tr>
      <th>Session</th>
      <th>Sport</th>
      <th>Name</th>
      <th>Venue</th>
    	<% if @settings.restricted_sports_allocated %>
        <th>Team Size</th>
      <% else %>
        <th>Limit</th>
        <th>Entries</th>
      <% end %>
      <th>Actions</th>
    </tr>
  </thead>

	<%= render @sport_entries %>
</table>

<%= will_paginate @sport_entries, :container => false %>

<%= link_to "New sport entry", new_gc_sport_entry_path,
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "Download", gc_sport_entries_path(format: :csv),
                  class: primary_button_class,
                  role: "button" %>

<%= legend_box [{:name => "Entered", :class => "table-primary"},
					{:name => "Requested", :class => "table-warning"},
					{:name => "Requiring Confirmation", :class => "table-danger"},
					{:name => "Waiting List", :class => "table-dark"}] %>
<% else %>

	<p>The sports program has not been finalised as yet for <%= @settings.this_year %>. This will be updated shortly.</p>
	<p>Keep an eye on your email inbox and the Group Coordinators' Facebook page for advice on when this is available.</p>

<% end %>