<% title "Listing sport entries" %>

<h1><%= yield(:title) %></h1>

<% if @settings.sports_loaded %>

<%= will_paginate @sport_entries, :container => false %>

<% if @settings.restricted_sports_allocated %>
  <%= link_to "By session", gc_sport_entries_path(order: :session),
                    class: primary_button_class,
                    role: "button" %>
  <%= link_to "By sport", gc_sport_entries_path,
                    class: primary_button_class,
                    role: "button" %>
<% end %>
<%= link_to "New sport entry", new_gc_sport_entry_path,
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "Download", gc_sport_entries_path(format: :xlsx),
                  class: primary_button_class,
                  role: "button" %>

<br/>
<br/>

<table class="table table-dark">
  <thead>
    <tr>
      <th>Session</th>
      <th>Sport</th>
      <th>Name</th>
      <th>Venue</th>
    	<% if @settings.restricted_sports_allocated %>
        <th>Team Size</th>
      <% else %>
        <th>Limit</th>
        <th>Entries</th>
      <% end %>
      <th>Actions</th>
    </tr>
  </thead>

	<%= render @sport_entries %>
</table>

<%= will_paginate @sport_entries, :container => false %>

<%= link_to "New sport entry", new_gc_sport_entry_path,
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "Download", gc_sport_entries_path(format: :xlsx),
                  class: primary_button_class,
                  role: "button" %>

<%= legend_box [{:name => "Entered", :class => "table-primary"},
					{:name => "Requested", :class => "table-warning"},
					{:name => "Requiring Confirmation", :class => "table-danger"},
					{:name => "Waiting List", :class => "table-dark"}] %>

<% if @settings.restricted_sports_allocated && !@settings.syg_is_happening && !@settings.syg_is_finished %>
  <% content_for :sidebar do -%>
    <div id="sidebar">
      <h2>Required Participants / Under 18's</h2>
      <p>For the sports that you are entered into, you require the following number of participants / under 18's for each session.</p>
      <table class="table table-dark">
        <thead>
          <tr>
            <th>Type</th>
            <th>Sat AM</th>
            <th>Sat PM</th>
            <th>Sat Eve</th>
            <th>Sun AM</th>
            <th>Sun PM</th>
            <th>Sun Eve</th>
          </tr>
        </thead>

        <tbody>
          <tr valign="top">
            <td>
                All
            </td>
            
            <td align="center" class="<%= sport_oversubscribed_class(@group, 2) %>">
                <%= @group.participants_needed_for_session(2) %>
            </td>

            <td align="center" class="<%= sport_oversubscribed_class(@group, 3) %>">
                <%= @group.participants_needed_for_session(3) %>
            </td>

            <td align="center" class="<%= sport_oversubscribed_class(@group, 4) %>">
                <%= @group.participants_needed_for_session(4) %>
            </td>

            <td align="center" class="<%= sport_oversubscribed_class(@group, 5) %>">
                <%= @group.participants_needed_for_session(5) %>
            </td>

            <td align="center" class="<%= sport_oversubscribed_class(@group, 6) %>">
                <%= @group.participants_needed_for_session(6) %>
            </td>

            <td align="center" class="<%= sport_oversubscribed_class(@group, 7) %>">
                <%= @group.participants_needed_for_session(7) %>
            </td>
          </tr>
          <tr valign="top">
            <td>
                U18
            </td>

            <td align="center" class="<%= sport_oversubscribed_class(@group, 2) %>">
                <%= @group.under_18s_needed_for_session(2) %>
            </td>

            <td align="center" class="<%= sport_oversubscribed_class(@group, 3) %>">
                <%= @group.under_18s_needed_for_session(3) %>
            </td>

            <td align="center" class="<%= sport_oversubscribed_class(@group, 4) %>">
                <%= @group.under_18s_needed_for_session(4) %>
            </td>

            <td align="center" class="<%= sport_oversubscribed_class(@group, 5) %>">
                <%= @group.under_18s_needed_for_session(5) %>
            </td>

            <td align="center" class="<%= sport_oversubscribed_class(@group, 6) %>">
                <%= @group.under_18s_needed_for_session(6) %>
            </td>

            <td align="center" class="<%= sport_oversubscribed_class(@group, 7) %>">
                <%= @group.under_18s_needed_for_session(7) %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  <% end -%>
<% end -%>

<% else %>

	<p>The sports program has not been finalised as yet for <%= @settings.this_year %>. This will be updated shortly.</p>
	<p>Keep an eye on your email inbox and the Group Coordinators' Facebook page for advice on when this is available.</p>

<% end %>
