<% title "New sports entry" %>

<h1><%= yield(:title) %></h1>

<%= simple_form_for(@sport_entry, :url => gc_sport_entries_path, 
        :html => { :method => :post }) do |f| %>

	<%= f.error_notification %>

    <% if @settings.restricted_sports_allocated %>
        <%= f.input :section_id, as: :select, collection: @sections, label_method: :name_with_session, include_blank: true %>
    <% else %>
        <%= f.input :grade_id, as: :select, collection: @grades, label_method: :name_with_session, include_blank: true %>
    <% end %>

	<%= f.button :submit %>
<% end %>

<%= link_to "Back", gc_sport_entries_path,
                  class: primary_button_class,
                  role: "button" %>
