<% title "New sports entry" %>

<h1><%= yield(:title) %></h1>

<%= render "application/error_messages", :target => @sport_entry %>

    <table>

<%= form_for(@sport_entry, :url => gc_sport_entries_path) do |f| %>
	   <tr id="grade_field">
		  <td><label for="sport_entry_grade_id">Grade:</label></td>
		  <td>&nbsp</td>
		  <td><%= collection_select :sport_entry, :grade_id, 
			 					   @grades, :id, :name_with_session,
			 					   {:include_blank => true}  %></td>
	   </tr>
    </table>
    
    <p>
        <%= f.submit "Create", class: primary_button_class, role: "button" %>
    </p>
<% end %>

<%= link_to "Back", gc_sport_entries_path,
                  class: primary_button_class,
                  role: "button" %>
