<%= simple_form_for(setting, url: url) do |f| %> 
	<%= f.error_notification %>

	<h3>Fees</h3>
	<%= f.input :full_fee %>
	<%= f.input :early_bird_discount %>
	<%= f.input :day_visitor_adjustment %>
	<%= f.input :coordinator_adjustment, :label => "Group Coordinator adjustment" %>
	<%= f.input :helper_adjustment %>
	<%= f.input :primary_age_adjustment %>
	<%= f.input :spectator_adjustment %>
	<%= f.input :daily_adjustment %>

    <%= f.button :submit %>
<% end %>