<%= simple_form_for(setting, url: url) do |f| %> 
	<%= f.error_notification %>

	<h3>Website Admin</h3>
	<%= f.input :public_website %>
	<%= f.input :rego_website %>
	<%= f.input :website_host %>
	<%= f.input :incident_link, label: "Incident reporting website" %>
	<%= f.input :participant_feedback_url %>
	<%= f.input :gc_feedback_url %>

	<br/>

	<h3>Policies</h3>
	<%= f.input :policy_wwcc_url, label: "SYG WWCC Policy" %>
	<%= f.input :policy_conduct_url, label: "SYG Code of Conduct" %>
	<%= f.input :policy_child_safe_url, label: "CCVT Safe Places Policy" %>

	<br/>

    <%= f.button :submit %>
<% end %>