<%= simple_form_for(setting, url: url) do |f| %> 
	<%= f.error_notification %>

	<h3>Website Admin</h3>
	<%= f.input :public_website %>
	<%= f.input :rego_website %>
	<%= f.input :website_host %>
	<%= f.input :incident_link, label: "Incident reporting website" %>

	<br/>

    <%= f.button :submit %>
<% end %>