<% title "Editing settings" %>

<h1><%= yield(:title) %></h1>

<%= render partial: "functionality", 
           locals: { setting: @setting } %>

<%= render partial: "fees",  
           locals: { setting: @setting } %>

<%= render partial: "divisions",  
           locals: { setting: @setting } %>

<%= render partial: "sports_factors",  
           locals: { setting: @setting } %>
