<tr valign="top">
	<td> 
		<%= h(group.abbr) %>
	</td>

	<td> 
		<%= h(group.short_name) %>
	</td>

	<td> 
		<%= h(group.males) %>
	</td>

	<td> 
		<%= h(group.females) %>
	</td>

	<td> 
		<%= h(group.gender_neutral) %>
	</td>
</tr>
