<%= simple_form_for(@rego_checklist, url: url, html: { method: method }) do |f| %> 
	<%= f.error_notification %>

	<h2>Registration</h2>
	<%= f.input :admin_rep, :label => "Person taking the registrations" %>
	<%= f.input :rego_rep, :label => "Person representing group" %>
	<%= f.input :rego_mobile, :label => "Mobile Phone Number" %>
	<%= f.input :second_rep, :label => "Second in charge" %>
	<%= f.input :second_mobile, :label => "Second in charge mobile" %>

	<br/>

	<h2>Finances</h2>
	<table class="table table-dark table-striped">
		<tr>
			<td> 
				<strong>Total amount payable</strong>
			</td>
			<td> 
				<%= number_to_currency(@rego_checklist.group.total_amount_payable) %>
			</td>
		</tr>
		<tr>
			<td> 
				<strong>Late Fees</strong>
			</td>
			<td> 
				<%= number_to_currency(@rego_checklist.group.late_fees) %>
			</td>
		</tr>
		<tr>
			<td> 
				<strong>Amount outstanding</strong>
			</td>
			<td> 
				<%= number_to_currency(@rego_checklist.group.amount_outstanding) %>
			</td>
		</tr>
	</table>
	<%= f.input :finance_notes, :label => "Notes about finances" %>

	<br/>

	<h2>Camping</h2>
	<table class="table table-dark table-striped">
		<tr>
			<td> 
				<strong>Safety</strong>
			</td>
			<td> 
				Safety officers will visit your campsite to check your safety compliance and you will need to pass before camping is approved.
			</td>
		</tr>
		<tr>
			<td> 
				<strong>Evacuation</strong>
			</td>
			<td> 
				Have you read the Emergency Procedures manual (SYG Emergency Plan)?
			</td>
		</tr>
	</table>

	<br/>

	<h2>Emergency</h2>
	<table class="table table-dark table-striped">
	<% if @rego_checklist.group.event_detail.onsite %>
		<tr>
			<td> 
				<strong>In case of emergency</strong>
			</td>
			<td> 
				In the event of an emergency please return back to your camp site and wait for further instruction from SYG wardens wearing red SYG jackets or red vests.
			</td>
		</tr>
	<% else %>
		<tr>
			<td> 
				<strong>In case of emergency</strong>
			</td>
			<td> 
				In the event of an emergency please gather in front of the Admin office and wait for further instruction from SYG wardens wearing red SYG jackets or red vests.
			</td>
		</tr>
	<% end %>
		<tr>
			<td> 
				<strong>Accidents</strong>
			</td>
			<td> 
				If an accident/incident occurs please contact 000 and inform SYG admin. Please advise emergency services to enter Lardner Park via Gate 4 and send a representative of your group to Gate 4 to meet them and guide them to your site.
			</td>
		</tr>
		<tr>
			<td> 
				<strong>Warden Zone</strong>
			</td>
			<td> 
				<%= @rego_checklist.group.event_detail.warden_zone_name %>
			</td>
		</tr>
		<tr>
			<td> 
				<strong>Warden Info</strong>
			</td>
			<td> 
				<%= @rego_checklist.group.event_detail.warden_info %>
			</td>
		</tr>
	</table> 

	<%= f.input :disabled_participants, :label => "Do you have any participants with special needs that would be unable to easily participate in an emergency evacuation? You will need to allocate a person to be with them." %>
	<%= f.input :disabled_notes, :label => "Notes about disabled participants" %>

	<br/>

	<h2>Uploads</h2>
	<table class="table table-dark table-striped">
		<thead>
			<tr>
				<th>Food Safety</th>
				<th>Safety Plan</th>
				<th>Insurance</th>
			</tr>
		</thead>

		<tr>
			<td> 
				<% if @rego_checklist.group.event_detail.food_cert.attached? %>
					<% if @rego_checklist.group.event_detail.food_cert.representable? %>
						<%= link_to(image_tag(@rego_checklist.group.event_detail.food_cert.representation(resize_to_limit: [80, 100])), rails_blob_path(@rego_checklist.group.event_detail.food_cert, disposition: "attachment")) %>
					<% else %>
						<%= link_to "Certificate", rails_blob_path(@rego_checklist.group.event_detail.food_cert, disposition: "attachment") %>
					<% end %>
				<% else %>
					<%= f.input :food_cert_sighted, :label => "Sighted?" %>
				<% end %>
			</td>
			
			<td> 
				<% if @rego_checklist.group.event_detail.covid_plan.attached? %>
					<% if @rego_checklist.group.event_detail.covid_plan.representable? %>
						<%= link_to(image_tag(@rego_checklist.group.event_detail.covid_plan.representation(resize_to_limit: [80, 100])), rails_blob_path(@rego_checklist.group.event_detail.covid_plan, disposition: "attachment")) %>
					<% else %>
						<%= link_to "Plan", rails_blob_path(@rego_checklist.group.event_detail.covid_plan, disposition: "attachment") %>
					<% end %>
				<% else %>
					<%= f.input :covid_plan_sighted, :label => "Sighted?" %>
				<% end %>
			</td>
			
			<td> 
				<% if @rego_checklist.group.event_detail.insurance.attached? %>
					<% if @rego_checklist.group.event_detail.insurance.representable? %>
						<%= link_to(image_tag(@rego_checklist.group.event_detail.insurance.representation(resize_to_limit: [80, 100])), rails_blob_path(@rego_checklist.group.event_detail.insurance, disposition: "attachment")) %>
					<% else %>
						<%= link_to "Policy", rails_blob_path(@rego_checklist.group.event_detail.insurance, disposition: "attachment") %>
					<% end %>
				<% else %>
					<%= f.input :insurance_sighted, :label => "Sighted?" %>
				<% end %>
			</td>
		</tr>
	</table>
	<%= f.input :upload_notes, :label => "Notes about files / uploads" %>

	<br/>

	<h2>Driving</h2>
	<%= f.input :driver_form, :label => "Driver Nomination Form?" %>
	<table class="table table-dark table-striped">
		<tr>
			<td> 
				<strong>Driving Safely</strong>
			</td>
			<td> 
				Please inform your team they must drive at 5km or under around the site
			</td>
		</tr>
	</table>
	<%= f.input :driving_notes, :label => "Notes about driver nomination forms" %>

	<br/>

	<h2>Good Sports and Spirit Awards</h2>
	<table class="table table-dark table-striped">
		<tr>
			<td> 
				<strong>Awards</strong>
			</td>
			<td> 
				Make sure groups are aware of the awards.
			</td>
		</tr>
		<tr>
			<td> 
				<strong>Spirit of the Games</strong>
			</td>
			<td> 
				The Spirit award is given to a group that consistently demonstrates the SYG values of fairness, inclusion, welcome, and Gospel-centred love for all as demonstrated through action.
			</td>
		</tr>
		<tr>
			<td> 
				<strong>Good Sports Award</strong>
			</td>
			<td> 
				The Mark Hughes award is given to an individual who demonstrates the SYG values as described above.
			</td>
		</tr>
		<tr>
			<td> 
				<strong>Volunteers Award</strong>
			</td>
			<td> 
				The Graham Ball Award highlights the contributions of volunteers, helpers, and teams in making their own communities and the SYG community great.
			</td>
		</tr>
	</table>

	<br/>

	<h2>Wrist Bands</h2>
	<table class="table table-dark table-striped">
		<tr>
			<td> 
				<strong>Wrist Bands</strong>
			</td>
			<td> 
				Everyone must wear their wrist bands at all times all weekend, including while playing sport.
			</td>
		</tr>
	</table>

	<br/>

	<h2>Sports</h2>
	<table class="table table-dark table-striped">
		<tr>
			<td> 
				<strong>Sports</strong>
			</td>
			<td> 
				Please participate in the spirit of the games with an awareness and respect of groups and venues.
			</td>
		</tr>
		<% if @sport_coords.any? %>
		<tr>
			<td> 
				<strong>Sport Coordinators</strong>
			</td>
			<td> 
				Please ensure that your sport coordinators are aware of the times for collection of their packs: 7:30pm to 10pm and 11pm to 12am Friday, for Saturday sports; and 9pm to 11pm, for Sunday sports
			</td>
		</tr>
		<% end %>
	</table>

	<% if @sport_coords.any? %>
		<table class="table table-dark table-striped">
			<thead>
				<tr>
					<th>Session</th>
					<th>Sport</th>
					<th>Name</th>
				</tr>
			</thead>

			<%= render partial: 'sport_coord', collection: @sport_coords %>
		</table>
	<% end %>	
	
	<%= f.input :sport_notes, :label => "Notes about sports" %>

	<br />
	<%= f.input :registered %>
	<br />

	<%= f.button :submit, "Update" %>
<% end %>	
