<%= simple_form_for(@rego_checklist, url: url, html: { method: method }) do |f| %> 
	<%= f.error_notification %>

	<h2>Registration</h2>
	<%= f.input :admin_rep, :label => "Person taking the registrations" %>
	<%= f.input :rego_rep, :label => "Person representing group" %>
	<%= f.input :rego_mobile, :label => "Mobile Phone Number" %>
	<%= f.input :second_rep, :label => "Second in charge" %>
	<%= f.input :second_mobile, :label => "Second in charge mobile" %>
	<%= f.input :registered %>

	<h2>Finances</h2>
	<%= f.input :finance_notes, :label => "Notes about finances" %>

	<h2>Camping</h2>
	<li class="stringish input optional"><label>Safety</label><span class="info">Safety officers will visit your campsite to check your safety compliance and you will need to pass before camping is approved.</span></li>
	<li class="stringish input optional"><label>Evacuations</label><span class="info">Have you read the Emergency Procedures manual (SYG Emergency Plan)?</span></li>

	<h2>Emergency</h2>
	<% if @rego_checklist.group.event_detail.onsite %>
		<li class="stringish input optional"><label>In case of emergency</label><span class="info">In the event of an emergency please return back to your camp site and wait for further instruction from SYG wardens wearing red SYG jackets or red vests.</span></li>
	<% else %>
		<li class="stringish input optional"><label>In case of emergency</label><span class="info">In the event of an emergency please gather in front of the Admin office and wait for further instruction from SYG wardens wearing red SYG jackets or red vests.</span></li>
	<% end %>
	<li class="stringish input optional"><label>Accidents</label><span class="info">If an accident/incident occurs please contact 000 and inform SYG admin. Please advise emergency services to enter Lardner Park via Gate 4 and send a representative of your group to Gate 4 to meet them and guide them to your site.</span></li>
	<%= f.input :disabled_participants, :label => "Do you have any participants with special needs that would be unable to easily participate in an emergency evacuation? You will need to allocate a person to be with them." %>
	<%= f.input :disabled_notes, :label => "Notes about disabled participants" %>

	<h2>Driving</h2>
	<%= f.input :driver_form, :label => "Driver Nomination Form?" %>
	<li class="stringish input optional"><label>Parking</label><span class="info">Car permits for the number of cars you registered with your group are in the GC pack. These need to be handed to your drivers, and displayed by them on their dashboard, or security will direct them to park in the day visitors' car park. Security will be checking the parking passes of all cars entering Lardner Park on Saturday and Sunday.</span></li>
	<li class="stringish input optional"><label>Driving Safely</label><span class="info">Please inform your team they must drive at 5km or under around the site</span></li>

	<h2>Good Sports and Spirit Awards</h2>
	<li class="stringish input optional"><label>Awards</label><span class="info">Make sure groups are aware of the awards.</span></li>
	<li class="stringish input optional"><label>Spirit if the Games</label><span class="info">The Spirit award is given to a group that consistently demonstrates the SYG values of fairness, inclusion, welcome, and Gospel-centred love for all as demonstrated through action.</span></li>
	<li class="stringish input optional"><label>Good Sports Award</label><span class="info">The Mark Hughes award is given to an individual who demonstrates the SYG values as described above.</span></li>
	<li class="stringish input optional"><label>Volunteers Award</label><span class="info">The Graham Ball Award highlights the contributions of volunteers, helpers, and teams in making their own communities and the SYG community great.</span></li>

	<h2>Wrist Bands</h2>
	<li class="stringish input optional"><label>Wrist Bands</label><span class="info">All registrants are required to wear their wristbands while not participating in sports - They must have their wristbands with them at SYG. Replacements are available here at the office if needed.</span></li>
	<li class="stringish input optional"><label>Night Session access?</label><span class="info">Wrist bands are needed for access to the night session.</span></li>

	<h2>Village</h2>
	<li class="stringish input optional"><label>Massages</label><span class="info">Massages are available here at the office 9.00pm - 11.00pm both Sat and Sun, 15 min for $10.</span></li>
	<li class="stringish input optional"><label>Meet & Greet</label><span class="info">Group Coordinators / pastors meeting in the Exhibition Building on Saturday at 10pm</span></li>

	<br />

	<%= f.button :submit, "Update" %>
<% end %>	
