<% title "SYG Registrations" %>

<h1><%= yield(:title) %></h1>

<%= search_box search_admin_rego_checklists_path, "Search" %>
<%= yield(:search_box)%>

<%= link_to "Download", admin_rego_checklists_path(format: :csv),
                  class: primary_button_class,
                  role: "button" %>

<br/>
<br/>

<table class="table table-dark">
  <thead>
    <tr>
      <th>Abbr</th>
      <th>Short Name</th>
      <th>Registered</th>
      <th>Mobile</th>
    </tr>
  </thead>

	<%= render @rego_checklists %>
</table>

<%= link_to "Download", admin_rego_checklists_path(format: :csv),
                  class: primary_button_class,
                  role: "button" %>

<%= legend_box [{:name => "Registered", :class => "table-primary"},
					{:name => "Not Registered", :class => "table-dark"}] %>
