<% title "Lost Item details" %>

<h1><%= yield(:title) %></h1>

<table class="table table-dark table-striped">
    <tr><td>Category</td><td><%= @lost_item.category %></td></tr>
    <tr><td>Decription</td><td><%= @lost_item.description %></td></tr>
</table>

<br/>

<% if @lost_item.photo.representable? %>
<%= image_tag @lost_item.photo.representation(resize_to_limit: [400, 500]) %>
<% end %>

<br/>
<br/>

<%= link_to "Back", lost_items_path,
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "Claim", edit_lost_item_path(@lost_item),
                  class: primary_button_class,
                  role: "button" %>
