<% title "Home Page for #{@participant.name}" %>

<h1><%= yield(:title) %></h1>

Welcome! <br />
<br />

It is now <%= Time.now.in_time_zone.strftime("%d/%m/%Y %I:%M %p") %>.

<br/><br/>

<p><strong>Groups attending:</strong> <%= @total_groups %></p>
<p><strong>Participants attending:</strong> <%= @total_participants %></p>

<% if current_user.participants.count > 1 %>
    <p>Your user can manage multiple participants. You can use the links below to switch between them.<p>

    <table class="table table-dark table-striped">
        <%= render partial: "user_participant", collection: current_user.participants.order(:first_name, :surname) %>
    </table>
<% end %>

<% if @group.results_file.attached? %>
    <h2>Results</h2>
    <p>Thanks for another fantastic SYG weekend. Here is a summary of your team results.<p>
    <% if @group.results_file.representable? %>
        <%= link_to(image_tag(@group.results_file.representation(resize_to_limit: [80, 100])), rails_blob_path(@group.results_file, disposition: "attachment")) %>
    <% else %>
        <%= link_to "Results", rails_blob_path(@group.results_file, disposition: "attachment") %>
    <% end %>
<% end %>

<% if @group.booklet_file.attached? %>
    <h2>Booklet</h2>
    <p>This is a customised booklet for your group, including all of your sport entries and their fixtures<p>
    <% if @group.booklet_file.representable? %>
        <%= link_to(image_tag(@group.booklet_file.representation(resize_to_limit: [80, 100])), rails_blob_path(@group.booklet_file, disposition: "attachment")) %>
    <% else %>
        <%= link_to "Booklet", rails_blob_path(@group.booklet_file, disposition: "attachment") %>
    <% end %>
<% end %>
