<%= fields_for "participant_extras[]", participant_extra do |f| %>
<tr valign="top">
	<td> 
		<% if participant_extra.group_extra.optional %>
			<%= f.check_box :wanted %>
		<% else %>
			<%= f.hidden_field :wanted, value: true %>
		<% end %>
	</td>
	<td> 
		<%= h(participant_extra.name) %>
	</td>
	<td> 
		<% if participant_extra.needs_size %>
			<%= f.select :size, 
					   ParticipantExtra::SIZES,
					   {:include_blank => true}  %>
		<% else %>
			&nbsp;
		<% end %>
	</td>
	<td> 
		<%= number_to_currency(participant_extra.cost) %>
	</td>
	<td> 
		<% if participant_extra.show_comment %>
		    <%= f.label :comment, participant_extra.comment_prompt %>
			<%= f.text_field :comment %> 
     	<% else %>
			&nbsp;
		<% end %>
	</td>
</tr>
<% end %>
