<tr valign="top" class="<%= group_submission_class(group) %>">

    <td width="30%">
        <span class="list-title"><%= link_to h(group.name), 
	    	edit_approval_admin_group_path(:id => group) -%></span><br />
    </td>

    <td align="left">
    	<% if group.church_rep.nil? %>
	        <%= group.church_rep_name %>
	    <% else %>
	        <%= link_to h(group.church_rep_name), 
	             edit_admin_user_path(id: group.church_rep.id) -%>
	    <% end %>
    </td>

    <td align="left">
    	<% if group.gc.nil? %>
	        <%= group.gc_name %>
	    <% else %>
	        <%= link_to h(group.gc_name), 
	             edit_admin_user_path(id: group.gc.id) -%>
	    <% end %>
    </td>

    <td>
	    <% unless group.status == "Approved" %>
            <%= link_to "Approve", approve_admin_group_path(group),
                    method: :patch,
                    class: primary_button_class,
                    role: "button" %>
        <% end %>
    </td>
</tr>
