<% title "Group Submissions" %>

<h1><%= yield(:title) %></h1>
    
<%= link_to "Download", approvals_admin_groups_path(format: :csv),
                  class: primary_button_class,
                  role: "button" %>

<br/>
<br/>

<table class= "table table-dark">
    <thead>
    <tr>
        <th align="left">Church</th>
        <th align="left">Church Rep</th>
        <th align="left">GC</th>
        <th></th>
    </tr>
    </thead>

    <%= render :partial => 'group_approvals', :collection => @groups, :as => :group %>
</table>
    
<%= link_to "Download", approvals_admin_groups_path(format: :xlsx),
                  class: primary_button_class,
                  role: "button" %>

<%= legend_box [{:name => "Approved", :class => "table-primary"},
				{:name => "Submitted", :class => "table-warning"}] %>
 