<% title "Listing groups" %>

<h1><%= yield(:title) %></h1>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th>Abbr</th>
      <th>Full Name</th>
      <th>Short Name</th>
    </tr>
  </thead>

	<%= render @groups %>
</table>

<%= link_to "New group", new_admin_group_path,
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "Download", admin_groups_path(format: :csv),
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "Upload", new_import_admin_groups_path,
                  class: primary_button_class,
                  role: "button" %>