<% title "Upload groups" %>

<h1><%= yield(:title) %></h1>

<p>Import file must be in '.csv' format, with columns the same as the download:</p>
<ul>
  <li>RowID</li>
  <li>Abbr</li>
  <li>Name</li>
  <li>ShortName</li>
  <li>Coming</li>
  <li>Status</li>
  <li>NewGroup</li>
  <li>LastYear</li>
  <li>Admin</li>
  <li>TradingName</li>
  <li>Address</li>
  <li>Suburb</li>
  <li>Postcode</li>
  <li>Phone</li>
  <li>Email</li>
  <li>Website</li>
  <li>Denomination</li>
</ul>

<%= simple_form_for(@group, url: import_admin_groups_path) do |f| %> 
	<%= f.error_notification %>

	<%= f.input :file, as: :file, label: "Upload file" %>

    <br/>

	<%= f.button :submit, "Upload" %>
<% end %>	

<br/>

<%= link_to "Back", admin_groups_path,
                  class: primary_button_class,
                  role: "button" %>
