<tr>
    <td><%= round_robin_match.court %></td>
    <td><%= round_robin_match.match %></td>
    <td><%= round_robin_match.complete? ? 'Yes' : 'No' %></td>
    <td><%= round_robin_match.entry_a_team_text %></td>
    <td><%= round_robin_match.score_a %></td>
    <td><%= round_robin_match.entry_b_team_text %></td>
    <td><%= round_robin_match.score_b %></td>
</tr>
