<h1><%= @section.name %></h1>

<%= link_to "Back", results_admin_sections_path,
        class: primary_button_class,
        role: "button" %>
<%= link_to "Download", admin_section_round_robin_matches_path(section_id: @section.id, format: :csv),
        class: primary_button_class,
        role: "button" %>

<br/><br/>

<table class="table table-dark table-striped">
  <thead>
    <th>Court</th>
    <th>Match</th>
    <th>Complete</th>
    <th>Team A</th>
    <th>Score A</th>
    <th>Team B</th>
    <th>Score B</th>
  </thead>
  <tbody>
    <%= render @round_robin_matches %>
  </tbody>
</table>
        
<%= link_to "Back", results_admin_sections_path,
        class: primary_button_class,
        role: "button" %>
<%= link_to "Download", admin_section_round_robin_matches_path(section_id: @section.id, format: :csv),
        class: primary_button_class,
        role: "button" %>

<% content_for :sidebar do -%>
	<div id="sidebar">
                <h2>Ladder</h2>

                <table class="table table-dark table-striped">
                        <thead>
                                <th>Team</th>
                                <th>Group</th>
                                <th>W</th>
                                <th>D</th>
                                <th>L</th>
                                <th>Pts</th>
                                <th>%</th>
                        </thead>
                        <tbody>
                                <%= render partial: 'ladder_entry', collection: @ladder.ladder, as: :team %>
                        </tbody>
                </table>
	</div>
<% end -%>
        
