<% title "Upload round robin sports draws" %>

<h1><%= yield(:title) %></h1>

<p>Import file must be in '.csv' format, with columns as below:</p>
<ul>
  <li>nDraw</li>
  <li>idSection</li>
  <li>dsSection</li>
  <li>nCourt</li>
  <li>nMatch</li>
  <li>bComplete</li>
  <li>idWebA</li>
  <li>nEntryA</li>
  <li>nTeamA</li>
  <li>nScoreA</li>
  <li>idWebB</li>
  <li>nEntryB</li>
  <li>nTeamB</li>
  <li>nScoreB</li>
  <li>bForfeitA</li>
  <li>bForfeitB</li>
  <li>idWebUmp</li>
  <li>nEntryUmpire</li>
  <li>bForfeitUmpire</li>
  <li>bBlowoutRule</li>
  <li>nForfeitScore</li>
  <li>SYG Sport Entries_1_nGroup</li>
  <li>tblSYGSportEntries_nGroup</li>
  <li>nGroups</li>
  <li>Churcha</li>
  <li>Churchb</li>
  <li>cFinalsFormat</li>
  <li>nStartCourt</li>
</ul>

<%= simple_form_for(@round_robin_match, url: import_admin_round_robin_matches_path) do |f| %> 
	<%= f.error_notification %>

	<%= f.input :file, as: :file, label: "Upload file" %>

    <br/>

	<%= f.button :submit, "Upload" %>
<% end %>	

<br/>

<%= link_to "Back",results_admin_sections_path,
                  class: primary_button_class,
                  role: "button" %>
