<% title "Editing user" %>

<h1><%= yield(:title) %></h1>

<%= render partial: "form", locals: { 
                              url: admin_user_path(@user), 
                              method: :patch } %>

<br/>

<h2>Roles</h2>

<table class="table table-dark">
    <%= render partial: "user_role", collection: @user_roles %>
</table>

<br/>

<h2>Groups</h2>

<table class="table table-dark">
    <%= render partial: "user_group", collection: @user.groups.order(:short_name) %>
    <tr>
        <%= form_with(url: add_group_admin_user_groups_path(user_id: @user), method: :patch) do |f| %> 
            <td><%= f.collection_select :group_id, @groups, :id, :short_name %></td>
	        <td><%= f.submit "Add", role: :button, class: primary_button_class %></td>
        <% end %>	
    </tr>

</table>

<br/>

<%= link_to "Back", admin_users_path,
                  class: primary_button_class,
                  user: "button" %>
<%= link_to "Details", admin_user_path(@user),
                  class: primary_button_class,
                  user: "button" %>
<%= link_to "Destroy", admin_user_path(@user),
                  method: :delete,
                  data: { confirm: "Are you sure?" },
                  class: danger_button_class,
                  user: "button" %>
