<% title "Listing users" %>

<h1><%= yield(:title) %></h1>

<%= search_box search_admin_users_path, "Search" %>
<%= yield(:search_box)%>

<br/>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th>Email</th>
      <th>Roles</th>
      <th># Participants</th>
    </tr>
  </thead>

	<%= render @users %>
</table>

<%= link_to "New user", new_admin_user_path,
                  class: primary_button_class,
                  user: "button" %>
