<tr valign="top" class="<%= sport_entry_display_class(sport_entry) %>">
	<td> 
		<%= h(sport_entry.group.abbr) %>
	</td>

	<td> 
		<%= h(sport_entry.name) %>
	</td>

	<td> 
		<%= h(sport_entry.allocated_section_name) %>
	</td>

	<td> 
		<%= h(sport_entry.preferred_section_name) %>
	</td>
</tr>
