<tr valign="top" class="<%= sport_entry_display_class(sport_entry) %>">
	<td> 
		<%= h(sport_entry.group.abbr) %>
	</td>

	<td> 
	    <%= link_to h(sport_entry.name), edit_admin_sport_entry_path(sport_entry, return: 'edit_grade') %>
	</td>

	<td> 
		<%= h(sport_entry.allocated_section_name) %>
	</td>

	<% unless @settings.restricted_sports_allocated %>
		<td> 
			<%= h(sport_entry.preferred_section_name) %>
		</td>
	<% end %>
</tr>
