<% title "Editing #{@grade.name}" %>

<h1><%= yield(:title) %></h1>

<%= render partial: "form", locals: { 
                              url: admin_grade_path(@grade), 
                              method: :patch } %>

<br/>

<h2>Volunteers</h2>

<% if @grade.volunteers.empty? %>
    <p>There are no volunteers defined for this grade.</p>

<% else %>

    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Type</th>
                <th>Volunteer</th>
                <th>Session</th>
                <th>Name</th>
            </tr>
        </thead>

        <%= render partial: 'grade_volunteer', collection: @grade.volunteers, as: :volunteer %>
    </table>

<% end %>

<h2>Sport Entries</h2>

<% if @grade.sport_entries.empty? %>
    <p>There are no sport entries for this grade.</p>

<% else %>

    <table class="table table-dark">
        <thead>
            <tr>
                <th>Group</th>
                <th>Name</th>
                <th>Section</th>
            	<% unless @settings.restricted_sports_allocated %>
                    <th>Preferred</th>
                <% end %>
            </tr>
        </thead>

        <%= render partial: 'grade_sport_entry', collection: @grade.sport_entries.includes(:group).order("groups.abbr, team_number"), as: :sport_entry %>
    </table>

<% end %>

<%= link_to "Back", admin_grades_path,
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "Details", admin_grade_path(@grade),
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "Destroy", admin_grade_path(@grade),
                  method: :delete,
                  data: { confirm: "Are you sure?" },
                  class: danger_button_class,
                  role: "button" %>

<%= legend_box [{:name => "Entered", :class => "table-primary"},
					{:name => "Requested", :class => "table-warning"},
					{:name => "Requiring Confirmation", :class => "table-danger"},
					{:name => "Waiting List", :class => "table-dark"}] %>
