<% title "Listing grades" %>

<h1><%= yield(:title) %></h1>
<%= will_paginate @grades, :container => false %>

<table class="table table-dark">
  <thead>
    <tr>
      <th>Grade</th>
      <th>#Sections</th>
      <th>Entered</th>
      <% if @settings.restricted_sports_allocated %>
        <th>Unconfirmed</th>
        <th>Waiting List</th>
      <% else %>
        <th>Requested</th>
      <% end %>
      <th align="center">Entry Limit</th>
    </tr>
  </thead>

	<%= render @grades %>
</table>

<%= will_paginate @grades, :container => false %>

<%= link_to "New grade", new_admin_grade_path,
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "Download", admin_grades_path(format: :csv),
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "Upload", new_import_admin_grades_path,
                  class: primary_button_class,
                  role: "button" %>

<%= legend_box [{:name => "Open", :class => "table-primary"},
					{:name => "Limited to one per group", :class => "table-warning"},
					{:name => "Over Limit", :class => "table-danger"}] %>
