<%= fields_for "round_robin_matches[]", round_robin_match do |f| %>
<tr>
    <td><%= round_robin_match.court %></td>
	<td> 
		<% if round_robin_match.match > 99 %>
			<%= f.collection_select :entry_a_id, @teams, :id, :team_text %>
		<% else %>
			<%= round_robin_match.entry_a_team_text %>
		<% end %>
	</td>
	<td> 
		<%= f.select :score_a, ['Forfeit', *0..99] %>
	</td>
	<td> 
		<% if round_robin_match.match > 99 %>
			<%= f.collection_select :entry_b_id, @teams, :id, :team_text %>
		<% else %>
			<%= round_robin_match.entry_b_team_text %>
		<% end %>
	</td>
	<td> 
		<%= f.select :score_b, ['Forfeit', *0..99] %>
	</td>
</tr>
<% end %>
