<h1><%= @section.name %></h1>

<%= form_tag update_multiple_sc_section_round_robin_matches_path(section_id: @section.id), method: :patch do  %>
  <%= submit_tag "Update", class: primary_button_class, role: "button" %>	
  <%= submit_tag "Calculate Finalists", class: primary_button_class, role: "button" %>	
  <%= submit_tag "Submit", class: primary_button_class, role: "button" %>	
  <%= link_to "Reset", reset_sc_section_round_robin_matches_path(section_id: @section.id),
          data: { confirm: "Are you sure?" },
          class: danger_button_class,
          role: "button" %>
  <%= link_to "Back", sc_sections_path,
          class: primary_button_class,
          role: "button" %>

    <br/>
    <br/>

    <table class="table table-dark table-striped">
      <thead>
        <th>Court</th>
        <th>Team A</th>
        <th>Score A</th>
        <th>Team B</th>
        <th>Score B</th>
      </thead>
      <tbody>
        <%= render @round_robin_matches %>
      </tbody>
    </table>

  <%= submit_tag "Update", class: primary_button_class, role: "button" %>	
  <%= submit_tag "Calculate Finalists", class: primary_button_class, role: "button" %>	
  <%= submit_tag "Submit", class: primary_button_class, role: "button" %>	
  <%= link_to "Reset", reset_sc_section_round_robin_matches_path(section_id: @section.id),
          data: { confirm: "Are you sure?" },
          class: danger_button_class,
          role: "button" %>
  <%= link_to "Back", sc_sections_path,
          class: primary_button_class,
          role: "button" %>
<% end %>

