<h1><%= @section.name %></h1>

<%= form_tag update_multiple_sc_section_round_robin_matches_path(section_id: @section.id), method: :patch do  %>
  <%= submit_tag "Update", class: primary_button_class, role: "button" %>	
  <%= submit_tag "Calculate Finalists", class: primary_button_class, role: "button" %>	
  <%= submit_tag "Submit", class: primary_button_class, role: "button" %>	
  <%= link_to "Reset", reset_sc_section_round_robin_matches_path(section_id: @section.id),
          data: { confirm: "Are you sure?" },
          class: danger_button_class,
          role: "button" %>
  <%= link_to "Back", sc_sections_path,
          class: primary_button_class,
          role: "button" %>

    <br/>
    <br/>

    <table class="table table-dark table-striped">
      <thead>
        <th>Court</th>
        <th>Team A</th>
        <th>Score A</th>
        <th>Team B</th>
        <th>Score B</th>
      </thead>
      <tbody>
        <%= render partial: 'round_robin_match', collection: @round_robin_matches.fixture, as: :round_robin_match %>
        <%= render partial: 'round_robin_match', collection: @round_robin_matches.semis, as: :round_robin_match %>
        <%= render partial: 'round_robin_match', collection: @round_robin_matches.gf, as: :round_robin_match %>
      </tbody>
    </table>

  <%= submit_tag "Update", class: primary_button_class, role: "button" %>	
  <%= submit_tag "Calculate Finalists", class: primary_button_class, role: "button" %>	
  <%= submit_tag "Submit", class: primary_button_class, role: "button" %>	
  <%= link_to "Reset", reset_sc_section_round_robin_matches_path(section_id: @section.id),
          data: { confirm: "Are you sure?" },
          class: danger_button_class,
          role: "button" %>
  <%= link_to "Back", sc_sections_path,
          class: primary_button_class,
          role: "button" %>
<% end %>

<% content_for :sidebar do -%>
	<div id="sidebar">
    <h2>Ladder</h2>

    <strong>Finals</strong>
    <p><%= finals_explanation(@section) %></p>

    <% if @section.number_of_groups > 1 %>
      <h3>Group 1</h3>
    <% end %>

    <table class="table table-dark table-striped">
      <thead>
        <th>Team</th>
        <th>W</th>
        <th>D</th>
        <th>L</th>
        <th>F</th>
        <th>Pts</th>
        <th>%</th>
      </thead>
      <tbody>
        <%= render partial: 'ladder_entry', collection: @ladder.ladder_for_group(1), as: :team %>
      </tbody>
    </table>

    <% if @section.number_of_groups > 1 %>
      <h3>Group 2</h3>

      <table class="table table-dark table-striped">
        <thead>
          <th>Team</th>
          <th>W</th>
          <th>D</th>
          <th>L</th>
          <th>F</th>
          <th>Pts</th>
          <th>%</th>
        </thead>
        <tbody>
          <%= render partial: 'ladder_entry', collection: @ladder.ladder_for_group(2), as: :team %>
        </tbody>
      </table>
    <% end %>

    <% if @section.number_of_groups > 2 %>
      <h3>Group 3</h3>

      <table class="table table-dark table-striped">
        <thead>
          <th>Team</th>
          <th>W</th>
          <th>D</th>
          <th>L</th>
          <th>F</th>
          <th>Pts</th>
          <th>%</th>
        </thead>
        <tbody>
          <%= render partial: 'ladder_entry', collection: @ladder.ladder_for_group(3), as: :team %>
        </tbody>
      </table>
    <% end %>

    <% if @section.number_of_groups > 3 %>
      <h3>Group 4</h3>

      <table class="table table-dark table-striped">
        <thead>
          <th>Team</th>
          <th>W</th>
          <th>D</th>
          <th>L</th>
          <th>F</th>
          <th>Pts</th>
          <th>%</th>
        </thead>
        <tbody>
          <%= render partial: 'ladder_entry', collection: @ladder.ladder_for_group(4), as: :team %>
        </tbody>
      </table>
    <% end %>

    <% if @section.sport.blowout_rule %>
      <strong>Please note: </strong><p>The blowout rule is in place for this sport. Any score where the winner wins by more than <%= @section.sport.forfeit_score %> <%= @section.sport.point_name.downcase.pluralize %> will only count as a win by <%= @section.sport.forfeit_score %> <%= @section.sport.point_name.downcase.pluralize %>.</p>
    <% end %>
	</div>
<% end -%>
