<nav class="navbar navbar-dark navbar-static-top navbar-expand-md">
    <div class="container">
        <button type="button" class="navbar-toggler collapsed" data-bs-toggle="collapse" data-bs-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="navbar-toggler-icon"></span>
        </button> <%= link_to image_tag("syg.png", alt: 'State Youth Games', class: 'logo', width: 60, height: 40), root_path, class: 'navbar-brand' %>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav mr-auto">
                <li class='nav-item dropdown'>
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Regos</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class='dropdown-item'><%= link_to 'Groups', admin_groups_path %></li>
                        <li class='dropdown-item'><%= link_to 'Group Submissions', approvals_admin_groups_path %></li>
                        <li class='dropdown-item'><%= link_to 'Event Details', admin_event_details_path %></li>
                        <li class='dropdown-item'><%= link_to 'Group Uploads', uploads_admin_event_details_path %></li>
                        <li class='dropdown-item'><%= link_to 'MySYG Settings', admin_mysyg_settings_path %></li>
                        <% if @settings.syg_is_happening %>
                            <li class='dropdown-item'><%= link_to 'Registrations', admin_rego_checklists_path %></li>
                        <% end %>
                        <li class='dropdown-item'><%= link_to 'Participants', admin_participants_path %></li>
                        <li class='dropdown-item'><%= link_to 'WWCC Check', wwccs_admin_participants_path %></li>
                    </ul>
                </li>
                <li class='nav-item dropdown'>
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Sports</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class='dropdown-item'><%= link_to 'Sports', admin_sports_path %></li>
                        <li class='dropdown-item'><%= link_to 'Grades', admin_grades_path %></li>
                        <li class='dropdown-item'><%= link_to 'Sections', admin_sections_path %></li>
                        <li class='dropdown-item'><%= link_to 'Sessions', admin_sessions_path %></li>
                        <li class='dropdown-item'><%= link_to 'Venues', admin_venues_path %></li>
                        <li class='dropdown-item'><%= link_to 'Sport Entries', admin_sport_entries_path %></li>
                        <li class='dropdown-item'><%= link_to 'Sports Allocation', summary_admin_ballot_results_path %></li>
                        <% if @settings.restricted_sports_allocated %>
                            <li class='dropdown-item'><%= link_to 'Sport / Participant Audit', session_participants_admin_groups_path %></li>
                            <li class='dropdown-item'><%= link_to 'Sport Draws', sports_draws_admin_tasks_path %></li>
                        <% end %>
                    </ul>
                </li>
                <li class='nav-item dropdown'>
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Finance</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class='dropdown-item'><%= link_to 'Vouchers', admin_vouchers_path %></li>
                        <li class='dropdown-item'><%= link_to 'Payments', admin_payments_path %></li>
                    </ul>
                </li>
                <li class='nav-item dropdown'>
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Grounds</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class='dropdown-item'><%= link_to 'Warden Zones', admin_warden_zones_path %></li>
                        <li class='dropdown-item'><%= link_to 'Group Zones', warden_zones_admin_event_details_path %></li>
                    </ul>
                </li>
                <li class='nav-item dropdown'>
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Reports</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class='dropdown-item'><%= link_to 'Group Summary', summary_admin_groups_path %></li>
                        <li class='dropdown-item'><%= link_to 'Fees table', fees_admin_reports_path %></li>
                        <li class='dropdown-item'><%= link_to 'Finance Summary', finance_summary_admin_reports_path %></li>
                        <li class='dropdown-item'><%= link_to 'Service Preferences', service_preferences_admin_reports_path %></li>
                    </ul>
                </li>
                <li class='nav-item dropdown'>
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Statistics</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class='dropdown-item'><%= link_to 'Event', event_stats_admin_info_path %></li>
                        <li class='dropdown-item'><%= link_to 'Technical', tech_stats_admin_info_path %></li>
                    </ul>
                </li>
                <li class='nav-item dropdown'>
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Settings</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class='dropdown-item'><%= link_to 'Event', edit_event_admin_setting_path(id: Setting.first.id) %></li>
                        <li class='dropdown-item'><%= link_to 'Functionality', edit_functionality_admin_setting_path(id: Setting.first.id) %></li>
                        <li class='dropdown-item'><%= link_to 'Email', edit_email_admin_setting_path(id: Setting.first.id) %></li>
                        <li class='dropdown-item'><%= link_to 'Socials', edit_social_admin_setting_path(id: Setting.first.id) %></li>
                        <li class='dropdown-item'><%= link_to 'Fees', edit_fees_admin_setting_path(id: Setting.first.id) %></li>
                        <li class='dropdown-item'><%= link_to 'Divisions', edit_divisions_admin_setting_path(id: Setting.first.id) %></li>
                        <li class='dropdown-item'><%= link_to 'Sports Factors', edit_sports_factors_admin_setting_path(id: Setting.first.id) %></li>
                        <li class='dropdown-item'><%= link_to 'Website', edit_website_admin_setting_path(id: Setting.first.id) %></li>
                        <li><hr class="dropdown-divider"></li>
                         <li class='dropdown-item'><%= link_to 'All', edit_admin_setting_path(id: Setting.first.id) %></li>
                    </ul>
                </li>
                <li class='nav-item dropdown'>
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Volunteers</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class='dropdown-item'><%= link_to 'Types', admin_volunteer_types_path %></li>
                        <li class='dropdown-item'><%= link_to 'Volunteers', admin_volunteers_path %></li>
                    </ul>
                </li>
                <li class='nav-item dropdown'>
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Website</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class='dropdown-item'><%= link_to 'Pages', admin_pages_path %></li>
                        <li class='dropdown-item'><%= link_to 'User Roles', admin_roles_path %></li>
                        <li class='dropdown-item'><%= link_to 'Users', admin_users_path %></li>
                    </ul>
                </li>
                <li class='nav-item dropdown'>
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class='dropdown-item'><%= link_to 'Profile', profile_admin_user_path(current_user) %></li>
                        <li class='dropdown-item'><%= link_to 'Change Password', edit_password_admin_user_path(current_user) %></li>
                        <li class='dropdown-item'><%= link_to 'Switch Role', available_roles_roles_path %></li>
                        <li class='dropdown-item'><%= link_to 'Switch Group', available_groups_groups_path %></li>
                        <li class='dropdown-item'><%= link_to 'Switch Participant', available_participants_participants_path %></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <% if current_user && current_user.roles.count > 1 %>
        <% unless @current_role.nil? %>
            <span class="<%= role_badge_class(@current_role) %>"> <%= @current_role.name %> </span>
        <% end %>
    <% end %>

    <%=  link_to_if(current_user.nil?, "Login", new_user_session_path, class: 'btn btn-primary m-5') do
            link_to('Sign out', destroy_user_session_path, :method => 'delete', class: 'btn btn-danger m-5')
        end %>
 
</nav>