<nav class="navbar navbar-dark navbar-static-top navbar-expand-md">
    <div class="container">
        <button type="button" class="navbar-toggler collapsed" data-bs-toggle="collapse" data-bs-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="navbar-toggler-icon"></span>
        </button> <%= link_to image_tag("syg.png", alt: 'State Youth Games', class: 'logo', width: 60, height: 40), root_path, class: 'navbar-brand' %>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav mr-auto">
                <li class='nav-item'><%= link_to 'Dashboard', home_gc_info_url, class: 'nav-link' %></li>
                <li class='nav-item'><%= link_to 'Group Details', edit_gc_group_path(@group), class: 'nav-link' %></li>
                <%- if can? :update, @group.event_detail %>
                    <li class='nav-item dropdown'>
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Event Details</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class='dropdown-item'><%= link_to 'General Details', edit_gc_event_detail_path(@group.event_detail) %></li>
                            <li class='dropdown-item'><%= link_to 'Food Certificate', new_food_certificate_gc_event_detail_path(@group.event_detail) %></li>
                            <li class='dropdown-item'><%= link_to 'Covid Safety Plan', new_covid_plan_gc_event_detail_path(@group.event_detail) %></li>
                            <li class='dropdown-item'><%= link_to 'Insurance', new_insurance_gc_event_detail_path(@group.event_detail) %></li>
                        </ul>
                    </li>
                <%- end %>
                <%- if can? :update, Payment %>
                    <li class='nav-item dropdown'>
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Finance</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class='dropdown-item'><%= link_to 'Group Finances', gc_payments_path %></li>
                            <li class='dropdown-item'><%= link_to 'Manage Participant Fees', group_fees_gc_participants_path %></li>
                        </ul>
                    </li>
                <%- end %>
                <%- if can? :index, Participant %>
                    <li class='nav-item dropdown'>
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Participants</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class='dropdown-item'><%= link_to 'Our Participants', gc_participants_path %></li>
                            <% unless @group.participants.requiring_approval.empty? %>
                                <li class='dropdown-item'><%= link_to 'Participants to be Accepted', approvals_gc_participants_path %></li>
                            <% end %>
                            <li class='dropdown-item'><%= link_to 'Nominated Drivers', drivers_gc_participants_path %></li>
                            <li class='dropdown-item'><%= link_to "Working With Children's Check", wwccs_gc_participants_path %></li>
                            <li class='dropdown-item'><%= link_to 'Vaccinations', vaccinations_gc_participants_path %></li>
                        </ul>
                    </li>
                <%- end %>
                <%- if can? :update, SportEntry %>
                    <li class='nav-item dropdown'>
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Sports</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class='dropdown-item'><%= link_to 'Our Sports', gc_sport_entries_path %></li>
                            <%- if @settings.sports_loaded %>
                                <li class='dropdown-item'><%= link_to 'Sport Preferences', gc_sport_preferences_path %></li>
                            <%- end %>
                        </ul>
                    </li>
                <%- end %>
                <%- if can? :index, Volunteer %>
                    <li class='nav-item dropdown'>
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Volunteers</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class='dropdown-item'><%= link_to 'Our Volunteers', gc_volunteers_path %></li>
                            <%- if @settings.volunteers_loaded %>
                                <li class='dropdown-item'><%= link_to 'Vacancies', available_gc_volunteers_path %></li>
                            <%- end %>
                        </ul>
                    </li>
                <%- end %>
                <%- if can? :update, @group.mysyg_setting %>
                    <li class='nav-item dropdown'>
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">MySYG</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class='dropdown-item'><%= link_to 'Settings', edit_gc_mysyg_setting_path(@group.mysyg_setting) %></li>
                            <%- if @settings.sports_loaded %>
                                <li class='dropdown-item'><%= link_to 'Filter Team Sports for Participants', edit_team_sports_gc_mysyg_setting_path(@group.mysyg_setting) %></li>
                                <li class='dropdown-item'><%= link_to 'Filter Individual Sports for Participants', edit_indiv_sports_gc_mysyg_setting_path(@group.mysyg_setting) %></li>
                            <%- end %>
                            <li class='dropdown-item'><%= link_to 'Custom / extra costs', gc_group_extras_path %></li>
                            <li class='dropdown-item'><%= link_to 'Wanted extras', gc_participant_extras_path %></li>
                        </ul>
                    </li>
                <%- end %>
                <li class='nav-item dropdown'>
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class='dropdown-item'><%= link_to 'Profile', edit_gc_user_path(current_user) %></li>
                        <li class='dropdown-item'><%= link_to 'Change Password', edit_password_gc_user_path(current_user) %></li>
                        <% if current_user && current_user.roles.count > 1 %>
                            <li class='dropdown-item'><%= link_to 'Switch Role', available_roles_roles_path %></li>
                        <% end %>
                        <% if current_user && (current_user.groups.count > 1 || current_user.role?(:admin))  %>
                            <li class='dropdown-item'><%= link_to 'Switch Group', available_groups_groups_path %></li>
                        <% end %>
                        <% if current_user && (current_user.participants.count > 1 || current_user.role?(:admin))  %>
                            <li class='dropdown-item'><%= link_to 'Switch Participant', available_participants_participants_path %></li>
                        <% end %>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <% if current_user && current_user.roles.count > 1 %>
        <% unless @current_role.nil? %>
            <span class="<%= role_badge_class(@current_role) %>"> <%= @current_role.name %> </span>
        <% end %>
    <% end %>

    <% if current_user && (current_user.groups.count > 1 || current_user.role?(:admin)) %>
        <span class="badge bg-primary"> <%= @group.abbr %> </span>
    <% end %>

    <%=  link_to_if(current_user.nil?, "Login", new_user_session_path, class: 'btn btn-primary m-5') do
            link_to('Sign out',  destroy_user_session_path, :method => 'delete', class: 'btn btn-danger m-5')
        end %>
 
</nav>