<nav class="navbar navbar-dark navbar-static-top navbar-expand-md">
    <div class="container">
        <button type="button" class="navbar-toggler collapsed" data-bs-toggle="collapse" data-bs-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="navbar-toggler-icon"></span>
        </button> <%= link_to image_tag("syg.png", alt: 'State Youth Games', class: 'logo', width: 60, height: 40), root_path, class: 'navbar-brand' %>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav mr-auto">
                <li class='nav-item'><%= link_to 'Dashboard', home_gc_info_url, class: 'nav-link' %></li>
                <li class='nav-item'><%= link_to 'Group Details', edit_gc_group_path(@group), class: 'nav-link' %></li>
                <li class='nav-item'><%= link_to 'Event Details', edit_gc_event_detail_path(@group.event_detail), class: 'nav-link' if can? :update, @group.event_detail %></li>
                <li class='nav-item'><%= link_to 'Participants', gc_participants_path, class: 'nav-link' if can? :update, Participant %></li>
                <li class='nav-item'><%= link_to 'Sports', gc_sport_entries_path, class: 'nav-link' if can? :update, SportEntry %></li>
                <li class='nav-item'><%= link_to 'MySYG', edit_gc_mysyg_setting_path(@group.mysyg_setting), class: 'nav-link'  if can? :update, @group.mysyg_setting %></li>
                <li class='nav-item dropdown'>
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class='dropdown-item'><%= link_to 'Profile', edit_gc_user_path(current_user) %></li>
                        <li class='dropdown-item'><%= link_to 'Change Password', edit_password_gc_user_path(current_user) %></li>
                        <% if current_user && current_user.roles.count > 1 %>
                            <li class='dropdown-item'><%= link_to 'Switch Role', available_roles_roles_path %></li>
                        <% end %>
                        <% if current_user && (current_user.groups.count > 1 || current_user.role?(:admin))  %>
                            <li class='dropdown-item'><%= link_to 'Switch Group', available_groups_groups_path %></li>
                        <% end %>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <% if current_user && current_user.roles.count > 1 %>
        <% unless @current_role.nil? %>
            <span class="<%= role_badge_class(@current_role) %>"> <%= @current_role.name %> </span>
        <% end %>
    <% end %>

    <% if current_user && (current_user.groups.count > 1 || current_user.role?(:admin)) %>
        <span class="badge bg-primary"> <%= @group.abbr %> </span>
    <% end %>

    <%=  link_to_if(current_user.nil?, "Login", new_user_session_path, class: 'btn btn-primary m-5') do
            link_to('Sign out',  destroy_user_session_path, :method => 'delete', class: 'btn btn-danger m-5')
        end %>
 
</nav>