<nav class="navbar navbar-dark navbar-static-top navbar-expand-md">
    <div class="container">
        <button type="button" class="navbar-toggler collapsed" data-bs-toggle="collapse" data-bs-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="navbar-toggler-icon"></span>
        </button> <%= link_to image_tag("syg.png", alt: 'State Youth Games', class: 'logo', width: 60, height: 40), root_path, class: 'navbar-brand' %>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav mr-auto">
                <li class='nav-item dropdown'>
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Sports</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class='dropdown-item'><%= link_to 'Sports', admin_sports_path %></li>
                        <li class='dropdown-item'><%= link_to 'Sessions', admin_sessions_path %></li>
                        <li class='dropdown-item'><%= link_to 'Venues', admin_venues_path %></li>
                    </ul>
                </li>
                <li class='nav-item dropdown'>
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Statistics</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class='dropdown-item'><%= link_to 'Technical', tech_stats_admin_info_path %></li>
                    </ul>
                </li>
                <li class='nav-item dropdown'>
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Settings</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class='dropdown-item'><%= link_to 'Event', edit_event_admin_setting_path(id: Setting.first.id) %></li>
                        <li class='dropdown-item'><%= link_to 'Functionality', edit_functionality_admin_setting_path(id: Setting.first.id) %></li>
                        <li class='dropdown-item'><%= link_to 'Email', edit_email_admin_setting_path(id: Setting.first.id) %></li>
                        <li class='dropdown-item'><%= link_to 'Socials', edit_social_admin_setting_path(id: Setting.first.id) %></li>
                        <li class='dropdown-item'><%= link_to 'Fees', edit_fees_admin_setting_path(id: Setting.first.id) %></li>
                        <li class='dropdown-item'><%= link_to 'Divisions', edit_divisions_admin_setting_path(id: Setting.first.id) %></li>
                        <li class='dropdown-item'><%= link_to 'Sports Factors', edit_sports_factors_admin_setting_path(id: Setting.first.id) %></li>
                        <li class='dropdown-item'><%= link_to 'Website', edit_website_admin_setting_path(id: Setting.first.id) %></li>
                        <li><hr class="dropdown-divider"></li>
                         <li class='dropdown-item'><%= link_to 'All', edit_admin_setting_path(id: Setting.first.id) %></li>
                    </ul>
                </li>
                <li class='nav-item'><%= link_to 'Pages', admin_pages_path, class: 'nav-link' %></li>
            </ul>
        </div>
    </div>
    <%=  link_to_if(current_user.nil?, "Login", new_user_session_path, class: 'btn btn-primary m-5') do
            link_to('Sign out',  destroy_user_session_path, :method => 'delete', class: 'btn btn-danger m-5')
        end %>
 
</nav>