<nav class="navbar navbar-dark navbar-static-top navbar-expand-md">
    <div class="container">
        <button type="button" class="navbar-toggler collapsed" data-bs-toggle="collapse" data-bs-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="navbar-toggler-icon"></span>
        </button> <%= link_to image_tag("syg.png", alt: 'State Youth Games', class: 'logo', width: 60, height: 40), root_path, class: 'navbar-brand' %>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav mr-auto">
                <li class='nav-item dropdown'>
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Sports</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class='dropdown-item'><%= link_to 'Sports', admin_sports_path %></li>
                        <li class='dropdown-item'><%= link_to 'Sessions', admin_sessions_path %></li>
                    </ul>
                </li>
                <li class='nav-item'><%= link_to 'Settings', edit_admin_setting_path(id: Setting.first.id), class: 'nav-link' %></li>
            </ul>
        </div>
    </div>
    <%=  link_to_if(current_user.nil?, "Login", new_user_session_path, class: 'btn btn-primary m-5') do
            link_to('Sign out',  destroy_user_session_path, :method => 'delete', class: 'btn btn-danger m-5')
        end %>
 
</nav>