<tr valign="top">
	<td> 
        <%= link_to voucher.name, edit_admin_voucher_path(voucher) %>
	</td>

	<td> 
		<%= voucher.group.short_name unless voucher.group.nil?%>
	</td>
	
	<td> 
		<%= voucher.limit %>
	</td>
	
	<td> 
		<%= voucher.participants.count %>
	</td>
	
	<td> 
		<%= voucher.effect %>
	</td>
</tr>
