<% title "Spirit Award nominations" %>

<h1><%= yield(:title) %></h1>

<%= link_to "New nomination", new_spirit_admin_awards_path,
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "Download", spirit_admin_awards_path(format: :xlsx),
                  class: primary_button_class,
                  role: "button" %>

<br/>
<br/>

<table class="table table-dark">
  <thead>
    <tr>
      <th>Name</th>
      <th>Reason (Click for more)</th>
      <th>Submitted by</th>
      <th>Actions</th>
    </tr>
  </thead>

	<%= render partial: 'spirit', collection: @awards, as: :award %>
</table>

<%= link_to "New nomination", new_spirit_admin_awards_path,
                  class: primary_button_class,
                  role: "button" %>
<%= link_to "Download", spirit_admin_awards_path(format: :xlsx),
                  class: primary_button_class,
                  role: "button" %>

<%= legend_box [{:name => "Flagged", :class => "table-primary"},
					{:name => "Unflagged", :class => "table-secondary"}] %>
